
// Accent colors
// -------------------------
@blue:                  #2E8BCC;
@green:                 #339933;
@red:                   #E51400;
@yellow:                #ffc40d;
@orange:                #F09609;
@pink:                  #E671B8;
@purple:                #7B4F9D;

@lime:                  #8CBF26;
@magenta: 			    #FF0097;
@teal: 				    #00ABA9;
@white:					#FFFFFF;


// Typography
// -------------------------

@font-family-sans-serif:  "Segoe UI Light", "Segoe WP", "Helvetica Neue", sans-serif;
@font-family-serif:       Georgia, "Times New Roman", Times, serif;
@font-family-monospace:   Monaco, Menlo, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@headings-font-family:    "Segoe UI Light", "Helvetica Neue", "Segoe UI", "Segoe WP", sans-serif;
@headings-font-weight:    100;




// Components
// -------------------------

@border-radius-base:             0px;
@border-radius-large:            0px;
@border-radius-small:            0px;


// Navbar
// -------------------------

// Basics of a navbar
@navbar-default-bg:                @blue;
@navbar-default-border:            @blue;


// Navbar links
@navbar-default-link-color:                @white;
@navbar-default-link-hover-color:          @white;
@navbar-default-link-hover-bg:             darken(@navbar-default-bg, 6.5%);
@navbar-default-link-active-color:         @white;
@navbar-default-link-active-bg:            darken(@navbar-default-bg, 6.5%);
@navbar-default-link-disabled-color:       #ccc;
@navbar-default-link-disabled-bg:          transparent;



// Tiles
// -----------------------
@tileWidth:            130px;



// Pager
// -------------------------

@pager-border-radius:                  0px;
@pager-disabled-color:                 @gray-light;


// Badges
// -------------------------
@badge-border-radius:         0px;
