﻿@using OpEnMs.Resources
@model OpEnMs.ViewModels.Home.HomeViewModel

@{
    ViewBag.Title = "Homepage";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}


@if (User.Identity.IsAuthenticated)
{
    <h3>@Resources.UpcomingTasks</h3>
    <div id="tabs">
        <ul>
            <li><a href="#myIdeas">@Resources.MyIdeas</a></li>
            <li><a href="#myActivities">@Resources.MyActivities</a></li>
        </ul>
        <div id="myIdeas">
            @Html.Partial("/Views/Idea/_List.cshtml",
                          Model.IdeaListViewModel)
        </div>
@*        <div id="myActivities">
            @Html.Partial("/Views/IsoMeasure/_List.cshtml",
                          Model.IsoMeasureListViewModel)
        </div>  *@
    </div>


    <script>
        $(function() {
            $("#tabs").tabs();
        });
    </script>@*


    if (User.IsInRole("Administrator"))
    {
        <h3>@Resources.GlobalSearch</h3>
        <p>
            @Html.Partial("../Search/_SearchBox")
        </p>
    }*@
}

@if (!User.Identity.IsAuthenticated)
{
    <h3>Verfügbare Funktionen</h3>
    <ol class="round">
        <li class="one">
            <h5>Ideenmanagement</h5>
            Erfassen und Verfolgen Sie Verbesserungsvorschläge und überführen diese gegegebenenfalls in Maßnahmen.
        </li>

        <li class="two">
            <h5>Maßnahmenmanagement</h5>
            Verschaffen Sie sich einen Überblick über geplanten Maßnahmen, verfolgen diese und bestätigen Sie gegebenenfalls deren erfolgreiche Durchführung.
        </li>

        <li class="three">
            <h5>Energiedaten und Kennzahlen</h5>
            Erfassen Sie Messstellen sowie deren Ernergieverbräuche (Ablesungen) und bilden Sie Kennzahlen um (Energie-) Daten zu verarbeiten und bewerten.
        </li>
    </ol>
}