﻿@using OpEnMs.EETS.ViewModels
@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.Measure.MeasureCreateViewModel

<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"> </script>

<script>
    $(function() {
        $("#tabs").tabs();
    });
</script>

@{
    ViewBag.Title = Resources.CreateNewMeasure;
}

<h2>@Resources.CreateNewMeasure</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">@Resources.GeneralData</a></li>
                <li><a href="#tabs-2">@Resources.Valuation</a></li>
            </ul>


            <div id="tabs-1">
                <legend>@Resources.Measure</legend>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Model.Name)
                </div>
                
                <div class="editor-field">
                    @Html.EditorFor(model => model.Model.Name)
                    @Html.ValidationMessageFor(model => model.Model.Name)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Model.Description)
                </div>

                <div class="editor-field">
                    @Html.EditorFor(model => model.Model.Description)
                    @Html.ValidationMessageFor(model => model.Model.Description)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Model.Solution)
                </div>

                <div class="editor-field">
                    @Html.EditorFor(model => model.Model.Solution)
                    @Html.ValidationMessageFor(model => model.Model.Solution)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Model.DueDate)
                </div>

                <div class="editor-field">
                    @Html.EditorFor(model => model.Model.DueDate)
                </div>
            
                <div class="editor-label">
                    @Html.LabelFor(model => model.Model.Priority)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.Model.Priority,
                                          Model.Model.Priority.ToSelectList())
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Model.Annotation)
                </div>

                <div class="editor-field">
                    @Html.EditorFor(model => model.Model.Annotation)
                    @Html.ValidationMessageFor(model => model.Model.Annotation)
                </div>
            </div>


            <div id="tabs-2">
                @Html.EditorFor(model => model.Model.Valuation)
                @Html.ValidationMessageFor(model => model.Model.Valuation)
            </div>

        </div>
        <p>
            <input type="submit" value="@Resources.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(@Resources.BackToList,
                     "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}