﻿@using OpEnMs.Resources
@model OpEnMs.Domain.Entities.Measure

@{
  ViewBag.Title = Resources.DeleteMeasure;
}

<h2>@Resources.DeleteMeasure</h2>

<h3>@Resources.DeleteQuestion</h3>
<fieldset>
  <legend>@Resources.Measure</legend>

  <div class="display-label">
    @Html.DisplayNameFor(model => model.Name)
  </div>
  <div class="display-field">
    @Html.DisplayFor(model => model.Name)
  </div>

  <div class="display-label">
    @Html.DisplayNameFor(model => model.Description)
  </div>
  <div class="display-field">
    @Html.DisplayFor(model => model.Description)
  </div>

  <div class="display-label">
    @Html.DisplayNameFor(model => model.Solution)
  </div>
  <div class="display-field">
    @Html.DisplayFor(model => model.Solution)
  </div>

  <div class="display-label">
    @Html.DisplayNameFor(model => model.DueDate)
  </div>
  <div class="display-field">
    @Html.DisplayFor(model => model.DueDate)
  </div>

  <div class="display-label">
    @Html.DisplayNameFor(model => model.EntryDate)
  </div>
  <div class="display-field">
    @Html.DisplayFor(model => model.EntryDate)
  </div>

 <div class="display-label">
    @Html.DisplayNameFor(model => model.Annotation)
  </div>
  <div class="display-field">
    @Html.DisplayFor(model => model.Annotation)
  </div>
</fieldset>
@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
  <p>
    <input type="submit" value="@Resources.DeleteMeasure" /> |
    @Html.ActionLink(Resources.Back,
      "Edit",
      "Company",
      new{
           id = Session["CompanyId"]
         },
      null))

  </p>
}