﻿@using OpEnMs.EETS.ViewModels
@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.MeasuringPoint.MeasuringPointCreateViewModel

@{
    ViewBag.Title = Resources.CreateNewMeasruringPoint;
}

<h2>@Resources.CreateNewMeasruringPoint</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.Model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Model.Name)
            @Html.ValidationMessageFor(model => model.Model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Model.Type)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Model.Type,
                                  Model.Model.Type.ToSelectList())
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Units)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.UnitId,
                                  new SelectList(Model.Units,
                                                 "Id",
                                                 "Name"))
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Sources)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SourceId,
                                  new SelectList(Model.Sources,
                                                 "Id",
                                                 "Name"))
        </div>


        <p>
            <input type="submit" value="@Resources.Save" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink(Resources.Back,"Edit", "Company", new { id = TempData["CompanyId"] },null)
</div>

@section
    Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}