﻿@using OpEnMs.Resources
@model OpEnMs.Domain.Entities.MeasuringPoint

@{
  ViewBag.Title = Resources.DeleteMeasuringPoint;
}

<h2>@Resources.DeleteMeasuringPoint</h2>

<h3>@Resources.DeleteQuestion</h3>
<fieldset>
  <legend>MeasuringPoint</legend>

  <div class="display-label">
    @Html.DisplayNameFor(model => model.Name)
  </div>
  <div class="display-field">
    @Html.DisplayFor(model => model.Name)
  </div>
</fieldset>
@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
  <p>
    <input type="submit" value="@Resources.DeleteMeasuringPoint" /> |
    @Html.ActionLink(Resources.Back,
      "Edit",
      "Company",
      new{
           id = Session["CompanyId"]
         },
      null))

  </p>
}