﻿@using OpEnMs.EETS.ViewModels
@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.MeasuringPoint.MeasuringPointEditViewModel


<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"> </script>
<link rel="stylesheet" href="/Content/themes/base/jquery.ui.tablesorter.css" />

<script>
  $(function() {
    $("#tabs").tabs();
  });
</script>

@{
  ViewBag.Title = Resources.EditMeasruringPoint;
}

<h2>@Resources.EditMeasruringPoint</h2>

@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary(true)
  <fieldset>
    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">@Resources.GeneralData</a></li>
        <li><a href="#tabs-2">@Resources.Readings</a></li>
      </ul>
      <div id="tabs-1">
        @Html.HiddenFor(model => model.Model.Id)

        <div class="editor-label">
          @Html.LabelFor(model => model.Model.Name)
        </div>
        <div class="editor-field">
          @Html.EditorFor(model => model.Model.Name)
          @Html.ValidationMessageFor(model => model.Model.Name)
        </div>

        <div class="editor-label">
          @Html.LabelFor(model => model.Model.Type)
        </div>
        <div class="editor-field">
          @Html.DropDownListFor(model => model.Model.Type,
            Model.Model.Type.ToSelectList(),
            new{
                 @disabled = "disabled"
               })
        </div>

        <div class="editor-label">
          @Html.LabelFor(model => model.Units)
        </div>
        <div class="editor-field">
          @Html.DropDownListFor(model => model.UnitId,
            new SelectList(Model.Units,
              "Id",
              "Name"),
            new{
                 @disabled = "disabled"
               })
        </div>

        <div class="editor-label">
          @Html.LabelFor(model => model.Sources)
        </div>
        <div class="editor-field">
          @Html.DropDownListFor(model => model.SourceId,
            new SelectList(Model.Sources,
              "Id",
              "Name"),
            new{
                 @disabled = "disabled"
               })
        </div>
      </div>
      <div id="tabs-2">
        @Html.EditorFor(model => model.EnergyConsumptionDetailsViewModel)
        @Html.ValidationMessageFor(model => model.EnergyConsumptionDetailsViewModel)
      </div>

    </div>
    <p>
      <input type="submit" value="@Resources.Save" />
    </p>
  </fieldset>
}
<div>
  @Html.ActionLink(Resources.Back,
    "Edit",
    "Company",
    new{
         id = Session["CompanyId"]
       },
    null)
</div>

@section
  Scripts
{
  @Scripts.Render("~/bundles/jqueryval")
}