﻿@using OpEnMs.Resources
<!DOCTYPE html>
<html lang="de">
    <head>
        @*<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Meine ASP.NET MVC-Anwendung</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />

        <title>OpEnMs - @ViewBag.Title</title>

        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Styles.Render("~/Content/bootstrap")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/highcharts")
        
        @RenderSection("scripts",
                       false)  
        <link rel="SHORTCUT ICON" href="@Url.Content("~/content/FB2_BUI_rgb_favicon.png")"/>
    </head>
    <body>
        <header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-logo"> @Html.ActionLink("HomeLogo",
                                                           "Index",
                                                           "Home",
                                                           null,
                                                           new{
                                                                  @class = "site-logo"
                                                              })</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole("Administrator"))
                                {
                                    <li>@Html.ActionLink("Home",
                                                         "Overview",
                                                         "Network")</li>
                                    <li>@Html.ActionLink(Resources.Network,
                                                         "Index",
                                                         "Network")</li>
                                    <li>@Html.ActionLink(Resources.Company,
                                                         "Index",
                                                         "Company")</li>
                                    <li>@Html.ActionLink(Resources.UserProfiles,
                                                         "Index",
                                                         "Account")</li>
                                }
                                if (User.IsInRole("Benutzer"))
                                {
                                    <li>@Html.ActionLink("Home",
                                                         "Overview",
                                                         "Measure")</li>
                                    <li>@Html.ActionLink(Resources.MyCompany,
                                                         "MyCompany",
                                                         "Company")</li>
                                    <li>@Html.ActionLink(Resources.EnergyConsumptions,
                                                         "Index",
                                                         "EnergyConsumption")</li>
                                    <li>@Html.ActionLink(Resources.MeasuringPoints,
                                                         "Index",
                                                         "MeasuringPoint")</li>
                                    <li>@Html.ActionLink(Resources.Measures,
                                                         "Index",
                                                         "Measure")</li>
                                    <li>@Html.ActionLink(Resources.Indicators,
                                                         "Index",
                                                         "Indicator")</li>
                                }
                                if (User.IsInRole("IsoAdministrator"))
                                {
                                    <li>@Html.ActionLink("Home",
                                                         "Index",
                                                         "Home")</li>
                                    <li>@Html.ActionLink(Resources.MeasuringPoints,
                                                         "Index",
                                                         "MeasuringPoint")</li>
                                    <li>@Html.ActionLink(Resources.IsoMeasures,
                                                         "Index",
                                                         "IsoMeasure")</li>
                                    <li>@Html.ActionLink(Resources.Ideas,
                                                         "Index",
                                                         "Idea")</li>
                                    <li>@Html.ActionLink(Resources.Indicators,
                                                         "Index",
                                                         "Indicator")</li>
                                }
                                if (User.IsInRole("IsoBenutzer"))
                                {
                                    <li>@Html.ActionLink("Home",
                                                         "Index",
                                                         "Home")</li>
                                    <li>@Html.ActionLink(Resources.Measures,
                                                         "Index",
                                                         "IsoMeasure")</li>
                                    <li>@Html.ActionLink(Resources.Ideas,
                                                         "Index",
                                                         "Idea")</li>
                                }
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured",
                           required : false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - HTW Berlin</p>
                </div>
            </div>
        </footer>

    </body>
</html>