﻿@if (Request.IsAuthenticated)
{
    <text>
        Hallo @Html.ActionLink(User.Identity.Name,
                               "Manage",
                               "Account",
                               routeValues : null,
                               htmlAttributes : new{
                                                       @class = "username",
                                                       title = "Verwalten"
                                                   })!
        @using (Html.BeginForm("LogOff",
                               "Account",
                               FormMethod.Post,
                               new{
                                      id = "logoutForm"
                                  }))
        {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Abmelden</a>
        }
    </text>
}
else
{
    <ul>
        <li>@Html.ActionLink("Registrieren",
                             "Register",
                             "Account",
                             routeValues : null,
                             htmlAttributes : new{
                                                     id = "registerLink"
                                                 })</li>
        <li>@Html.ActionLink("Anmelden",
                             "Login",
                             "Account",
                             routeValues : null,
                             htmlAttributes : new{
                                                     id = "loginLink"
                                                 })</li>
    </ul>
}
