﻿@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.Valuation.ValuationDetailsViewModel

<div class="display-child">
    <div class="display-label">
        @Html.DisplayNameFor(model => model.InterestRate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.InterestRate) 
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Investment)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Investment) 
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Lifetime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lifetime)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.MonetarySavings)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MonetarySavings) 
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.EnergeticSavings)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EnergeticSavings) 
    </div>
    @* <div class="display-label">
        @Html.DisplayNameFor(model => model.StatisticAmortization)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StatisticAmortization) 
    </div>*@

</div>