﻿html {
    background-color: #e2e2e2;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    color: #333;
    font-family: "Segoe UI Light","Helvetica Neue","Segoe UI","Segoe WP",sans-serif;
    font-weight: 100;
    line-height: 1.1;
    margin: 0;
    padding: 0;
}

a {
    color: #333;
    outline: none;
    padding-left: 3px;
    padding-right: 3px;
    text-decoration: underline;
}

a:link, a:visited,
a:active, a:hover { color: #333; }

a:hover { background-color: #c7d1d6; }

header, footer, hgroup,
nav, section { display: block; }

mark {
    background-color: #a6dbed;
    padding-left: 5px;
    padding-right: 5px;
}

.float-left { float: left; }

.float-right { float: right; }

.clear-fix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #000;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 { font-size: 2em; }

h2 { font-size: 1.75em; }

h3 { font-size: 1.2em; }

h4 { font-size: 1.1em; }

h5, h6 { font-size: 1em; }

h5 a:link, h5 a:visited, h5 a:active {
    padding: 0;
    text-decoration: none;
}


/* main layout
----------------------------------------------------------*/

.content-wrapper {
    margin: 0 auto;
    max-width: 960px;
}

#body {
    background-color: #fff;
    clear: both;
    padding-bottom: 35px;
}

.main-content {
    background: url("../Images/accent.png") no-repeat;
    padding-left: 10px;
    padding-top: 30px;
}

.featured + .main-content { background: url("../Images/heroAccent.png") no-repeat; }

header .content-wrapper { padding-top: 20px; }

footer {
    background-color: #e2e2e2;
    clear: both;
    font-size: .8em;
    height: 100px;
}


/* site title
----------------------------------------------------------*/

.site-title {
    color: #c8c8c8;
    font-family: Rockwell, Consolas, "Courier New", Courier, monospace;
    font-size: 2.3em;
    margin: 0;
}

.site-title a, .site-title a:hover, .site-title a:active {
    background: none;
    color: #c8c8c8;
    outline: none;
    text-decoration: none;
}

.site-logo, .site-logo a:hover, .site-logo a  {     
 background: url("../Images/Logo_vw.png") no-repeat top left;
 display: block;       
 width: 200px;       
 height: 60px;       
 text-indent: -9999px;  /*hides the link text*/ 
  } 


/* login
----------------------------------------------------------*/

#login {
    display: block;
    font-size: .85em;
    margin: 0 0 10px;
    text-align: right;
}

#login a {
    background-color: #d3dce0;
    margin-left: 10px;
    margin-right: 3px;
    padding: 2px 3px;
    text-decoration: none;
}

#login a.username {
    background: none;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

#login ul { margin: 0; }

#login li {
    display: inline;
    list-style: none;
}


/* menu
----------------------------------------------------------*/

ul#menu {
    font-size: 30px;
    font-family: "Segoe UI Light","Helvetica Neue","Segoe UI","Segoe WP",sans-serif;
    font-weight: 100;
    line-height: 1.1;
    color: inherit;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;
}

ul#menu li {
    display: inline;
    list-style: none;
    padding-left: 15px;
}

ul#menu li a {
    background: none;
    color: #999;
    text-decoration: none;
}

ul#menu li a:hover {
    color: #333;
    text-decoration: none;
}


/* page elements
----------------------------------------------------------*/
/* featured */

.featured { background-color: #fff; }

.featured .content-wrapper {
    background-color: #7ac0da;
    background-image: -ms-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: -o-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #7ac0da), color-stop(1, #a4d4e6));
    background-image: -webkit-linear-gradient(left, #7ac0da 0%, #a4d4e6 100%);
    background-image: linear-gradient( #7ac0da 0%, #a4d4e6 100%);
    color: #3e5667;
    padding: 20px 40px 30px 40px;
}

.featured hgroup.title h1, .featured hgroup.title h2 { color: #fff; }

.featured p { font-size: 1.1em; }

/* page titles */

hgroup.title { margin-bottom: 10px; }

hgroup.title h1, hgroup.title h2 { display: inline; }

hgroup.title h2 {
    font-weight: normal;
    margin-left: 3px;
}

/* features */

section.feature {
    float: left;
    padding: 10px;
    width: 300px;
}

/* ordered list */

ol.round {
    list-style-type: none;
    padding-left: 0;
}

ol.round li {
    margin: 25px 0;
    padding-left: 45px;
}

ol.round li.zero { background: url("../Images/orderedList0.png") no-repeat; }

ol.round li.one { background: url("../Images/orderedList1.png") no-repeat; }

ol.round li.two { background: url("../Images/orderedList2.png") no-repeat; }

ol.round li.three { background: url("../Images/orderedList3.png") no-repeat; }

ol.round li.four { background: url("../Images/orderedList4.png") no-repeat; }

ol.round li.five { background: url("../Images/orderedList5.png") no-repeat; }

ol.round li.six { background: url("../Images/orderedList6.png") no-repeat; }

ol.round li.seven { background: url("../Images/orderedList7.png") no-repeat; }

ol.round li.eight { background: url("../Images/orderedList8.png") no-repeat; }

ol.round li.nine { background: url("../Images/orderedList9.png") no-repeat; }

/* content */

article {
    float: left;
    width: 70%;
}

aside {
    float: right;
    width: 25%;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    background: url("../Images/bullet.png") no-repeat 0 50%;
    padding: 2px 0 2px 20px;
}

.label { font-weight: 700; }

/* display fields*/

.display-label {
    font-weight: bold;
    font-size: 0.8em;
    padding-top: 5px;
}

.display-field {
     font-size: 1em;
}


.editor-label {
    font-weight: bold;
    font-size: 0.8em;
    padding-top: 5px;
}

.editor-label-explanation {
    font-weight: bold;
    font-size: 0.8em;
    padding-top: 5px;
}

/*Style for info-button that activates help popover*/
.help-popover{
    cursor: pointer;
}

.label-list li{
    list-style: none;
    float: left;
    list-style-position: inside;
    
}
.label-list{
    margin: 0 0 10px 0;
    padding-left:0px;
    margin-left:0px;
}


div .row
{
    padding-bottom: 0.5em;
}

.hilfstext
{
    position: relative;
    display: none;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    box-shadow: 2px 2px 5px grey;
    background: rgba(204, 204, 204, 1);
}

.hilfstext:after, .hilfstext:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.hilfstext:after {
	border-color: rgba(204, 204, 204, 0);
	border-right-color: rgba(204, 204, 204, 1);
	border-width: 18px;
	margin-top: -18px;
}
.hilfstext:before {
	border-color: rgba(0, 0, 0, 0);
	border-right-color: #000000;
	border-width: 19px;
	margin-top: -19px;
}

.hilfstext span
{
    text-decoration: underline;
}

.info-sign
{
    width: 20px;
    height: 20px;
    background: url("../Images/info_sign_20x20.jpg");
}

a.hilfslinks_wiki
{
    background: url("../Images/wiki_metro_15x15.png");
    background-repeat: no-repeat;
    margin: 4px 0px 0px 4px;
    position: absolute;
    height: 15px;
    width: 15px;
}


/* login page */

#loginForm {
    border-right: solid 2px #c8c8c8;
    float: left;
    width: 55%;
}

#loginForm .validation-error {
    display: block;
    margin-left: 15px;
}

#loginForm .validation-summary-errors ul {
    margin: 0;
    padding: 0;
}

#loginForm .validation-summary-errors li {
    display: inline;
    list-style: none;
    margin: 0;
}

#loginForm input { width: 250px; }

#loginForm input[type="checkbox"],
#loginForm input[type="submit"],
#loginForm input[type="button"],
#loginForm button { width: auto; }

#socialLoginForm {
    float: left;
    margin-left: 40px;
    width: 40%;
}

#socialLoginForm h2 { margin-bottom: 5px; }

#socialLoginList button { margin-bottom: 12px; }

#logoutForm { display: inline; }

/* contact */

.contact h3 { font-size: 1.2em; }

.contact p { margin: 5px 0 0 10px; }

.contact iframe {
    border: 1px solid #333;
    margin: 5px 0 0 10px;
}

/* forms */

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

fieldset legend { display: none; }

fieldset ol {
    list-style: none;
    padding: 0;
}

fieldset ol li { padding-bottom: 5px; }

label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

div.custom-label {
    display: block;
    font-size: 1.2em;
    font-weight: 600;
}

label.checkbox { display: inline; }

input, textarea {
    background: #fff;
    border: 1px solid #e2e2e2;
    color: #333;
    font-size: 1.2em;
    margin: 5px 0 6px 0;
    padding: 5px;
    width: 300px;
}

textarea {
    font-family: inherit;
    width: 380px;
}

input:focus, textarea:focus { border: 1px solid #7ac0da; }

input[type="checkbox"] {
    background: transparent;
    border: inherit;
    width: auto;
}

input[type="submit"],
input[type="button"],
.button {
	background-color:#8dbdd8;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid #fff;
	display: inline-block;
	font-size:14px;
	font-weight:bold;
	padding:6px 15px;
	text-decoration:none;
    cursor: pointer;
    }


td input[type="submit"],
td input[type="button"],
td button {
    font-size: 1em;
    margin-right: 4px;
    padding: 4px;
}

/* info and errors */

.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #ff6500;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error { color: #ff6500; }

/* styles for validation helpers */

.field-validation-error {
    color: #ff6500;
    font-weight: bold;
}

.field-validation-valid { display: none; }

input.input-validation-error { border: 1px solid #ff6500; }

input[type="checkbox"].input-validation-error { border: 0 none; }

.validation-summary-errors {
    color: #ff6500;
    font-size: 1.1em;
    font-weight: bold;
}

.validation-summary-valid { display: none; }


/* tables
----------------------------------------------------------*/

table {
   	border-width: 1px;
	border-spacing: 5px;
	border-style: solid;
	border-color: white;
	border-collapse: collapse;
    padding: 10px;
}

th {
    border: none 0px;
    font-size: 1.2em;
    padding-left: 0;
    text-align: left;
}

th a {
    display: block;
    position: relative;
}

th a:link, th a:visited, th a:active, th a:hover {
    color: #333;
    font-weight: 600;
    padding: 0;
    text-decoration: none;
}

th a:hover { color: #000; }

th.asc a, th.desc a { margin-right: .75em; }

th.asc a:after, th.desc a:after {
    display: block;
    font-size: 0.75em;
    position: absolute;
    right: 0em;
    top: 0;
}

th.asc a:after { content: '▲'; }

th.desc a:after { content: '▼'; }

td {
    border: 0 none;
    padding: 0.25em 2em 0.25em 0em;
}

tr.pager td { padding: 0 0.25em 0 0; }

tr:nth-child(odd)    { background-color:#eee; }
tr:nth-child(even)   { background-color:#fff; }

/*Custom Table Class For Employee-Details*/
table.employee_info {
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 10px;
}

table.employee_info th{
    font-size: 0.8em;
    padding-left: 2px;
    
}

table.employee_info td{  
    padding-left: 4px;
}

table.employee_info a{  
    padding-left: 0px;
}

.employee_info_heading {
    font-size: 14px;
    padding-bottom: 5px;
}


/* Table Submenu*/
table.submenu
{
    width: 100%;
}

table.submenu thead tr th {
	background-color: #8dbdd8;
    border: 1px solid #FFF;
	padding: 6px;

}
/********************
*   Mobile Styles   *
********************/

@media only screen and (max-width: 850px) {
    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right { float: none; }

    /* logo */

    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */

    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

    #login ul {
        margin: 5px 0;
        padding: 0;
    }

    #login li {
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    #login a {
        background: none;
        color: #999;
        font-weight: 600;
        margin: 2px;
        padding: 0;
    }

    #login a:hover { color: #333; }

    /* menu */

    nav { margin-bottom: 5px; }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

    ul#menu li {
        margin: 0;
        padding: 0;
    }


    /* main layout
    ----------------------------------------------------------*/

    .main-content,
    .featured + .main-content { background-position: 10px 0; }

    .content-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }

    .featured .content-wrapper { padding: 10px; }

    /* page content */

    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */

    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

    ol.round li {
        margin: 25px 0;
        padding-left: 10px;
    }

    ol.round li.zero,
    ol.round li.one,
    ol.round li.two,
    ol.round li.three,
    ol.round li.four,
    ol.round li.five,
    ol.round li.six,
    ol.round li.seven,
    ol.round li.eight,
    ol.round li.nine { background: none; }

     /* features */

    section.feature {
        float: none;
        padding: 10px;
        width: auto;
    }

    section.feature img {
        color: #999;
        content: attr(alt);
        font-size: 1.5em;
        font-weight: 600;
    }

    /* forms */

    input { width: 90%; }

    /* login page */

    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

    #loginForm .validation-error {
        display: block;
        margin-left: 15px;
    }

    #socialLoginForm {
        float: none;
        margin-left: 0;
        width: auto;
    }


    /* footer
    ----------------------------------------------------------*/

    footer .float-left,
    footer .float-right { float: none; }

    footer {
        height: auto;
        padding: 10px 0;
        text-align: center;
    }

    footer p { margin: 0; }
}