﻿@model OpEnMs.EETS.ViewModels.Company.CompanyCheckBoxViewModel


<fieldset>
       

    @Html.HiddenFor(model => model.CompanyId)
    @* @Html.HiddenFor(model => model.Name)*@

    <tr>
        <td>
            @Html.DisplayFor(c => c.Name)
        </td>
        <td>
            @Html.CheckBoxFor(c => c.IsChecked)
        </td>
    </tr>
</fieldset>