﻿@model DateTime?
@using OpEnMs.Resources

<script src="~/Scripts/i18n/jquery.ui.datepicker-de.js"></script>

<script>
    // Showing Datepicker without Weekends
    // minDate: Only Showing 30days backwards
    $(document).ready(function() {
        $('.datepicker').datepicker(
            {
                beforeShowDay: $.datepicker.noWeekends,
                minDate: -30,
            });
        
    });
</script>

@Html.TextBox("",
              String.Format("{0:d}",
                            Model.HasValue ? Model.Value.ToShortDateString() : string.Empty),
              new{
                     @class = "datepicker",
                     title = @ToolTipResources.Activity_DueDate
                 })
