﻿
@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.EnergyConsumption.EnergyConsumptionDetailsViewModel

<fieldset>
  <div>
    @Html.Partial("_Chart",
      Model.Linechart)
    <p>
      @Html.ActionLink(Resources.CreateNewReading,
        "Create")
    </p>

    @Html.EditorFor(model => model.ReadingListViewModel)
  </div>
</fieldset>
@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}