﻿@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.EnergyConsumption.EnergyConsumptionListViewModel

<link rel="stylesheet" href="/Content/themes/base/jquery.ui.tablesorter.css" />
<script src="/Scripts/jquery.tablesorter.min.js"> </script>
<script type="text/javascript" id="js">
  $(document).ready(function() {
    $("#energyConsumptionList").tablesorter({
      headers: {
        5: {
          sorter: false
        },
      }
    });
  });
</script>

<p>
  @Html.ActionLink(Resources.CreateNewEnergyConsumption,
    "Create",
    "EnergyConsumption",
    new{
         companyId = Session["CompanyId"]
       },
    null)
</p>

@if (Model != null && Model.Count != 0)
{
  <table id="energyConsumptionList" class="tablesorter">
    <thead>
      <tr> 
        <th>
          @Html.DisplayNameFor(model => model.EnergyConsumptions.FirstOrDefault().
            Source)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.EnergyConsumptions.FirstOrDefault().
            Unit)
        </th>
        <th>  @Html.DisplayNameFor(model => model.EnergyConsumptions.FirstOrDefault().
                EnergyPrice)</th>
                
               
        <th>@Resources.Actions</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model.EnergyConsumptions)
      {
        <tr>
          <td>
            @Html.DisplayFor(modelItem => item.Source)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Unit)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.EnergyPrice)
          </td>
           
          <td>
            @Html.ActionLink(Resources.Edit,
              "Edit",
              "EnergyConsumption",
              new{
                   id = item.Model.Id,
                   companyId = Session["CompanyId"]
                 },
              null) | 
            @Html.ActionLink(Resources.Details,
              "Details",
              "EnergyConsumption",
              new{
                   id = item.Model.Id
                 },
              null) |
                       
            @Html.ActionLink(Resources.Delete,
              "Delete",
              "EnergyConsumption",
              new{
                   id = item.Model.Id,
                   companyId = Session["CompanyId"]
                 },
              null)

                      

          </td>
        </tr>
      }
        
    </tbody>

  </table>
}
else
{
  <p>
    @Resources.NoEnergyConsumptionsToShow
  </p>
}