﻿@using OpEnMs.EETS.ViewModels
@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.IsoMeasure.IsoMeasureListViewModel

<link rel="stylesheet" href="/Content/themes/base/jquery.ui.tablesorter.css" />
<script src="/Scripts/jquery.tablesorter.min.js"> </script>
<script type="text/javascript" id="js">
    $(document).ready(function() {
        $("#measureList").tablesorter({
            headers: {
                3: {
                    sorter: false
                },
            }
        });
    });
</script>

@if (User.IsInRole("IsoAdministrator"))
{
    <p>
        @Html.ActionLink(Resources.CreateNewMeasure,
            "Create",
            "IsoMeasure",
            new{
                   id = ViewBag.CompanyId
               },
            null)
    </p>
}

@if (Model != null && Model.Count != 0)
{
    <table id="measureList" class="tablesorter">
        <thead>
            <tr> 
                <th>
                    @Html.DisplayNameFor(model => model.IsoMeasures.FirstOrDefault().
                        Model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsoMeasures.FirstOrDefault().
                        EntryDate)
                </th>
                <th>  @Html.DisplayNameFor(model => model.IsoMeasures.FirstOrDefault().
                          State)</th>
                
               
                <th>@Resources.Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.IsoMeasures)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EntryDate)
                    </td>
                    <td>
                        @item.Model.State.GetLocalizedName()
                    </td>
                    @if (User.IsInRole("IsoAdministrator"))
                    {
                        <td>
                            @Html.ActionLink(Resources.Edit,
                                "Edit",
                                "IsoMeasure",
                                new{
                                       id = item.Model.Id,
                                       companyId = Session["CompanyId"]
                                   },
                                null) |
                        
                            @Html.ActionLink(Resources.Details,
                                "Details",
                                "IsoMeasure",
                                new{
                                       id = item.Model.Id,
                                       companyId = Session["CompanyId"]
                                   },
                                null) |
                       
                            @Html.ActionLink(Resources.Delete,
                                "Delete",
                                "IsoMeasure",
                                new{
                                       id = item.Model.Id,
                                       companyId = Session["CompanyId"]
                                   },
                                null)
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.ActionLink(Resources.Details,
                                "Details",
                                "IsoMeasure",
                                new{
                                       id = item.Model.Id,
                                       companyId = Session["CompanyId"]
                                   },
                                null)
                        </td>
                    }
                </tr>
            }
        
        </tbody>

    </table>
}
else
{
    <p>
        @Resources.NoMeasuresToShow
    </p>
}