﻿@using OpEnMs.EETS.ViewModels
@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.Measure.MeasureListViewModel

<link rel="stylesheet" href="/Content/themes/base/jquery.ui.tablesorter.css" />
<script src="/Scripts/jquery.tablesorter.min.js"> </script>
<script type="text/javascript" id="js">
    $(document).ready(function() {
        $("#measureList").tablesorter({
            headers: {
                5: {
                    sorter: false
                },
            }
        });
    });
</script>

<p>
    @Html.ActionLink(Resources.CreateNewMeasure,
        "Create",
        "Measure",
        new{
               companyId = Session["CompanyId"]
           },
        null)
</p>

@if (Model != null && Model.Count != 0)
{
    <table id="measureList" class="tablesorter">
        <thead>
            <tr> 
                <th>
                    @Html.DisplayNameFor(model => model.Measures.FirstOrDefault().
                        Model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Measures.FirstOrDefault().
                        EntryDate)
                </th>
                <th>  @Html.DisplayNameFor(model => model.Measures.FirstOrDefault().
                          State)</th>
                
               
                <th>@Resources.Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Measures)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EntryDate)
                    </td>
                    <td>
                        @item.Model.State.GetLocalizedName()
                    </td>
           
                    <td>
                        @Html.ActionLink(Resources.Edit,
                            "Edit",
                            "Measure",
                            new{
                                   id = item.Model.Id,
                                   companyId = Session["CompanyId"]
                               },
                            null) |
                       
                        @Html.ActionLink(Resources.Delete,
                            "Delete",
                            "Measure",
                            new{
                                   id = item.Model.Id,
                                   companyId = Session["CompanyId"]
                               },
                            null)

                      

                    </td>
                </tr>
            }
        
        </tbody>

    </table>
}
else
{
    <p>
        @Resources.NoMeasuresToShow
    </p>
}