﻿@using OpEnMs.EETS.ViewModels
@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.MeasuringPoint.MeasuringPointListViewModel

<link rel="stylesheet" href="/Content/themes/base/jquery.ui.tablesorter.css" />
<script src="/Scripts/jquery.tablesorter.min.js"> </script>
<script type="text/javascript" id="js">
  $(document).ready(function() {
    $("#measuringPointList").tablesorter({
      headers: {
        5: {
          sorter: false
        },
      }
    });
  });
</script>

<p>
  @Html.ActionLink(Resources.CreateNewMeasruringPoint,
    "Create",
    "MeasuringPoint",
    new{
         companyId = Session["CompanyId"]
       },
    null)
</p>

@if (Model != null && Model.Count != 0)
{
  <table id="measuringPointList" class="tablesorter">
    <thead>
      <tr> 
        <th>
          @Html.DisplayNameFor(model => model.MeasuringPoints.FirstOrDefault().
            Model.Name)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.MeasuringPoints.FirstOrDefault().
            Type)
        </th>
                
                
               
        <th>@Resources.Actions</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model.MeasuringPoints)
      {
        <tr>
          <td>
            @Html.DisplayFor(modelItem => item.Name)
          </td>
          <td>
            @item.Model.Type.GetLocalizedName()
          </td>
           
          <td>
            @Html.ActionLink(Resources.Edit,
              "Edit",
              "MeasuringPoint",
              new{
                   id = item.Model.Id,
                   companyId = Session["CompanyId"]
                 },
              null) |
                        
            @Html.ActionLink(Resources.Readings,
              "Readings",
              "MeasuringPoint",
              new{
                   id = item.Model.Id,
                   companyId = Session["CompanyId"]
                 },
              null) |
                       
            @Html.ActionLink(Resources.Delete,
              "Delete",
              "MeasuringPoint",
              new{
                   id = item.Model.Id,
                   companyId = Session["CompanyId"]
                 },
              null)

                      

          </td>
        </tr>
      }
        
    </tbody>

  </table>
}
else
{
  <p>
    NoMeasuringPointsToShow
  </p>
}