﻿@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.Reading.ReadingListViewModel

<link rel="stylesheet" href="/Content/themes/base/jquery.ui.tablesorter.css" />
<script src="/Scripts/jquery.tablesorter.min.js"> </script>
<script type="text/javascript" id="js">
    $(document).ready(function() {
        $("#readingList").tablesorter({
            headers: {
                5: {
                    sorter: false
                },
            }
        });
    });
</script>


@if (Model != null && Model.Count != 0)
{
    <table id="readingList" class="tablesorter">
        <thead>
            <tr> 
                <th>
                    @Html.DisplayNameFor(model => model.Readings.FirstOrDefault().
                                                        Model.Timestamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Readings.FirstOrDefault().
                                                        Value)
                </th>
                
               
                <th>@Resources.Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Readings)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Timestamp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
           
                    <td>
                        @Html.ActionLink(Resources.Edit,
                                         "Edit",
                                         "Reading",
                                         new{
                                                id = item.Model.Id
                                            },
                                         null) |
                       
                        @Html.ActionLink(Resources.Delete,
                                         "Delete",
                                         "Reading",
                                         new{
                                                id = item.Model.Id
                                            },
                                         null)

                      

                    </td>
                </tr>
            }
        
        </tbody>

    </table>
}
else
{
    <p>
        @Resources.NoReadingsToShow
    </p>
}