﻿@model OpEnMs.Domain.Entities.Valuation
@using OpEnMs.Resources


    <div class="row">
        <div class="span4">
            <ul class="label-list">
                <li><div class="editor-label">@Html.LabelFor(model => model.Investment)</div>@Resources.InEuro</li>
                <li><span class="help-popover" onclick="deactivateTooltip(this)"><p class="info-sign"></p></span></li>
            </ul>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Investment,
                    new{
                            @class = "investment",
                            onchange = "startCalculations()",
                            title = @ToolTipResources.Valuation_Investment,
                            placeholder = "0,00"
                    }) 
            </div>
        </div>
        <div class="span5 hilfstext">
            <p><span class="header">Infotext für "Investment"</span><br>Geben Sie hier die Kosten ein, welche zur Umsetzung der Maßnahme anfallen.</p>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <ul class="label-list">
                <li><div class="editor-label">@Html.LabelFor(model => model.EnergeticSavings)</div>@Resources.InKWHPerYear</li>
                <li><span class="help-popover" onclick="deactivateTooltip(this)"><p class="info-sign"></p></span></li>
            </ul>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.EnergeticSavings,
                    new
                    {
                        title = @ToolTipResources.Valuation_EnergeticSavings,
                        placeholder = "0,00"
                    }
                ) 
                @Html.ValidationMessageFor(model => model.EnergeticSavings)
            </div>
        </div>
        <div class="span5 hilfstext">
            <p>
                <span class="header">Infotext für "Energetische Einsparungen"</span><br>Geben Sie hier die Energiekosten ein, die sich durch die Maßnahme einsparen lassen
               <br><span> Weiterführende Links: <a href="http://de.wikipedia.org/wiki/Energieeinsparung" target="_blank" class="hilfslinks_wiki" title="http://de.wikipedia.org/wiki/Energieeinsparung"></a></span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="span4">
            <ul class="label-list">
                <li><div class="editor-label">@Html.LabelFor(model => model.MonetarySavings)</div>@Resources.InEuroPerYear</li>
                <li><span class="help-popover" onclick="deactivateTooltip(this)"><p class="info-sign"></p></span></li>
            </ul>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.MonetarySavings,
                    new{
                            @class = "monetarysavings",
                            onchange = "startCalculations()",
                            title = @ToolTipResources.Valuation_MonetarySavings,
                            placeholder = "0,00"
                        }) 
                @Html.ValidationMessageFor(model => model.MonetarySavings)
            </div>
        </div>
        <div class="span5 hilfstext">
            <p>
                <span class="header">Infotext für "Einsparungen"</span><br>
                Geben Sie hier die monetären Einsparungen an, welche sich durch den Einsatz der Maßnahme ergeben. Je genauer die Schätzung umso präziser lässt sich abschätzen ob die Maßnahme durchzuführen ist. 
            </p>
        </div>
     </div>

@*<div class="editor-label">
    @Html.LabelFor(model => model.CarbonReduction)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.CarbonReduction)
    @Html.ValidationMessageFor(model => model.CarbonReduction)
</div>*@

    <div class="row">
        <div class="span4">
            <ul class="label-list">
                <li><div class="editor-label">@Html.LabelFor(model => model.Lifetime)</div>@Resources.InYears</li>
                <li><span class="help-popover" onclick="deactivateTooltip(this)"><p class="info-sign"></p></span></li>
            </ul>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Lifetime,
                    new{
                            @class = "lifetime",
                            onchange = "startCalculations()",
                            title = @ToolTipResources.Valuation_Lifetime,
                            placeholder = "0"
                        }) 
                @Html.ValidationMessageFor(model => model.Lifetime)
            </div>
        </div>
        <div class="span5 hilfstext">
            <p><span class="header">Infotext für "Laufzeit"</span><br>Tragen Sie hier bitte die Laufzeit der Maßnahme bzw. der neuen Anlage, Maschine etc. welche im Zuge der Durchführung der Maßnahme beschafft wird.</p>
        </div>
    </div>
    
    <div class="row">
        <div class="span4">
            <ul class="label-list">
                <li><div class="editor-label">@Html.LabelFor(model => model.InterestRate)</div>@Resources.InPercent</li>
                <li><span class="help-popover" onclick="deactivateTooltip(this)"><p class="info-sign"></p></span></li>
            </ul>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.InterestRate,
                    new{
                           @class = "interestrate",
                           onchange = "startCalculations()",
                            title = @ToolTipResources.Valuation_InterestRate,
                            placeholder = "0"
                       }) 
                @Html.ValidationMessageFor(model => model.InterestRate)
            </div>
        </div>
        <div class="span5 hilfstext">
            <p><span class="header">Infotext für "Verzinsung"</span><br>Geben Sie hier den kalkulatorischen Zinssatz ein, mit welchem Sie die Investitionsrechnung durchführen wollen. Er gibt an, zu welchem Zinssatz am Kapitalmarkt Anlagen abgeschlossen werden könnten und ermöglicht damit die Berechnung von Opportunitätskosten.<br>
                <span> Weiterführende Links: <a href="http://de.wikipedia.org/wiki/Kalkulatorische_Zinsen" target="_blank" class="hilfslinks_wiki" title="http://de.wikipedia.org/wiki/Kalkulatorische_Zinsen"></a></span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="span4">
            <ul class="label-list">
                <li><div class="editor-label">@Html.LabelFor(model => model.DynamicAmortization)</div>@Resources.InEuro</li>
                <li><span class="help-popover" onclick="deactivateTooltip(this)"><p class="info-sign"></p></span></li>
            </ul>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.DynamicAmortization,
                new{
                       @class = "dynamicAmortization",
                       @readonly = "readonly",
                       title = @ToolTipResources.Valuation_DynamicAmortization
                   }) 
                @*@Html.ValidationMessageFor(model => model.DynamicAmortization)*@
            </div>
        </div>
        <div class="span5 hilfstext">
            <p><span class="header">Infotext für "Kapitalwert"</span><br>Hier wird der Kapitalwert der Maßnahme berechnet. Der Kapitalwert einer Investition zeigt die Summe der Barwerte aller Ein-und Auszahlungen an und dient als Indikator dafür, ob die mögliche Rendite des Investitionsobjekt besser als der kalkulatorische Zinssatz ist. <br />
                <span> Weiterführende Links: <a href="http://de.wikipedia.org/wiki/Kapitalwert" target="_blank" class="hilfslinks_wiki" title="http://de.wikipedia.org/wiki/Kapitalwert"></a></span>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="span4">
            <ul class="label-list">
                <li><div class="editor-label">@Html.LabelFor(model => model.StatisticAmortization)</div>@Resources.InYears</li>
                <li><span class="help-popover" onclick="deactivateTooltip(this)"><p class="info-sign"></p></span></li>
            </ul>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.StatisticAmortization,
                new{
                       @class = "statisticAmortization",
                       @readonly = "readonly",
                       title = @ToolTipResources.Valuation_StaticAmortization
                   }) 
                @*@Html.ValidationMessageFor(model => model.StatisticAmortization)*@
            </div>
        </div>
        <div class="span5 hilfstext">
            <p><span class="header">Infotext für "Amortisationszeit"</span><br>Hier wird die Amortisationszeit der Maßnahme berechnet. Unter der Amortisationszeit versteht man den Zeitraum den eine Investition theoretisch benötigt, um die getätigten Anschaffungskosten wieder "einzuspielen" <br \>
                <span> Weiterführende Links: <a href="http://de.wikipedia.org/wiki/Amortisationszeit" target="_blank" class="hilfslinks_wiki" title="http://de.wikipedia.org/wiki/Amortisationszeit"></a></span>
            <
        </div>
    </div>

@*<div class="editor-label">
    @Html.LabelFor(model => model.InternalInterestRate)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.InternalInterestRate,
    new{
           @class = "internalInterestRate",
           @readonly = "readonly"
       })
    @Html.ValidationMessageFor(model => model.InternalInterestRate)
</div>*@

<script>
    function kapitalwert() {
        var kapitalWert = 0;
        var zins = 1 + $('.interestrate').val() / 100;
        var anschaffungsKosten = $('.investment').val();
        var lifetime = $('.lifetime').val();
        var monetarysavings = $('.monetarysavings').val();

        for (var i = 1; i <= lifetime; i++) {kapitalWert += monetarysavings * (Math.pow(zins, -i));}
        kapitalWert -= anschaffungsKosten;
        kapitalWert = roundTo(kapitalWert, 3);
        //kapitalWert has to be converted into string to use replace method
        kapitalWert = kapitalWert.toString();
        var kapitalWertOhneKomma = kapitalWert.replace(/\./, ",");
        $('.dynamicAmortization').val(kapitalWertOhneKomma);
    }

    /*Berechnung ohne Zinsen*/
    function amortisationszeit() {
        var amortisationsZeit = 0;
        var anschaffungsKosten = $('.investment').val();
        var monetarySavings = $('.monetarysavings').val();

        amortisationsZeit = anschaffungsKosten / monetarySavings;
        amortisationsZeit = roundTo(amortisationsZeit, 3);
        amortisationsZeit = amortisationsZeit.toString();
        var amortisationsZeitOhneKomma = amortisationsZeit.replace(/\./, ",");
        $('.statisticAmortization').val(amortisationsZeitOhneKomma);
    }

    function checkIfDynamicAmortizationIsPossible() {
        if ($('.dynamicAmortization').val() != 0) {
            $('.dynamicAmortization').val('');
        }
        if ($('.monetarysavings').val() <= 0 || $('.interestrate').val() <= 0 || $('.lifetime').val() <= 0) {
            return false;
        }
        else { return true; }
    }

    function checkIfAmortizationTimeIsPossible() {
        if ($('.statisticAmortization').val() != 0) {
            $('.statisticAmortization').val('');
        }
        if ($('.investment').val() <= 0 || $('.monetarysavings').val() <= 0) {
            return false;
        }
        else {
            return true;
        }
    }

    function startCalculations() {
        if (checkIfAmortizationTimeIsPossible() === true) {
            amortisationszeit();
        }
        if (checkIfDynamicAmortizationIsPossible() === true) {
            kapitalwert();
        }

    }

    function roundTo(value, digits) {
        value *= Math.pow(10,digits);
        value = Math.round(value);
        value = value / (Math.pow(10, digits));
        return value;
    }
</script>