﻿@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.EnergyConsumption.EnergyConsumptionCreateViewModel

@{
  ViewBag.Title = Resources.CreateNewEnergyConsumption;
}

<h2>@Resources.CreateNewEnergyConsumption</h2>

@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary(true)
  <fieldset>
      
    <div class="editor-label">
      @Html.LabelFor(model => model.Model.EnergyPrice)
    </div>
    
    <div class="eeditor-fiel">
      @Html.EditorFor(model => model.Model.EnergyPrice)
      @Html.ValidationMessageFor(model => model.Model.EnergyPrice)
    </div>
     
    <div class="editor-label">
      @Html.LabelFor(model => model.Units)
    </div>
    <div class="editor-field">
      @Html.DropDownListFor(model => model.UnitId,
        new SelectList(Model.Units,
          "Id",
          "Name"))
    </div>

    <div class="editor-label">
      @Html.LabelFor(model => model.Sources)
    </div>
    <div class="editor-field">
      @Html.DropDownListFor(model => model.SourceId,
        new SelectList(Model.Sources,
          "Id",
          "Name"))
    </div>


    <p>
      <input type="submit" value="@Resources.Save" />
    </p>
  </fieldset>
}
<div>
  @Html.ActionLink(Resources.Back,
    "Edit",
    "Company",
    new{
         id = Session["CompanyId"]
       },
    null)
</div>

@section
  Scripts
{
  @Scripts.Render("~/bundles/jqueryval")
}