﻿@using OpEnMs.Resources
@model OpEnMs.Domain.Entities.EnergyConsumption

@{
  ViewBag.Title = Resources.DeleteEnergyConsumption;
}

<h2>@Resources.DeleteEnergyConsumption</h2>

<h3>@Resources.DeleteQuestion</h3>
<fieldset>
  <legend>@Resources.EnergyConsumption</legend>

  <div class="display-label">
    @Html.DisplayNameFor(model => model.EnergyPrice)
  </div>
  <div class="display-field">
    @Html.DisplayFor(model => model.EnergyPrice)
  </div>
</fieldset>
@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
  <p>
    <input type="submit" value="@Resources.DeleteEnergyConsumption" /> |
    @Html.ActionLink(Resources.Back,
      "Edit",
      "Company",
      new{
           id = Session["CompanyId"]
         },
      null))

  </p>
}