﻿@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.EnergyConsumption.EnergyConsumptionDetailsViewModel

<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"> </script>
<link rel="stylesheet" href="/Content/themes/base/jquery.ui.tablesorter.css" />
<script src="/Scripts/jquery.tablesorter.min.js"> </script>

<script>
    $(function() {
        $("#tabs").tabs();
    });
</script>



@{
    ViewBag.Title = Resources.Details;
}

<h2>@Resources.Details</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <fieldset>
        
        <div id="tabs">
            
            <ul>
                <li><a href="#tabs-1">@Resources.GeneralData</a></li>
                <li><a href="#tabs-2">@Resources.Readings</a></li>

            </ul>
        
            <div id="tabs-1">
                <legend>EnergyConsumption</legend>

                @Html.HiddenFor(model => model.Model.Id)

                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Model.Source)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Model.Source.Name)
                </div> 
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Model.Unit)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Model.Unit.Symbol)
                </div> 
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Model.EnergyPrice)
                </div>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Model.EnergyPrice)
                </div>
            </div>
           
            <div id="tabs-2">
                @Html.Partial("_Chart", Model.Linechart)
                @Html.EditorFor(model => model.ReadingListViewModel)
            </div> 
            
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink(Resources.Back,
                     "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}