﻿@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.EnergyConsumption.EnergyConsumptionEditViewModel


<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"> </script>
<link rel="stylesheet" href="/Content/themes/base/jquery.ui.tablesorter.css" />

<script>
  $(function() {
    $("#tabs").tabs();
  });
</script>

@{
  ViewBag.Title = Resources.EditEnergyConsumption;
}

<h2>@Resources.EditEnergyConsumption</h2>

@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary(true)
  <fieldset>
    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">@Resources.Readings</a></li>
      </ul>
      @Html.HiddenFor(model => model.Model.Id)
     
      <div id="tabs-1">
        @Html.EditorFor(model => model.EnergyConsumptionDetailsViewModel)
        @Html.ValidationMessageFor(model => model.EnergyConsumptionDetailsViewModel)
        <div class="editor-label">
          @Html.LabelFor(model => model.Model.EnergyPrice)
        </div>
        <div class="editor-field">
          @Html.EditorFor(model => model.Model.EnergyPrice)
          @Html.ValidationMessageFor(model => model.Model.EnergyPrice)
        </div>
      </div>

    </div>
    <p>
      <input type="submit" value="@Resources.Save" />
    </p>
  </fieldset>
}
<div>
  @Html.ActionLink(Resources.Back,
    "Edit",
    "Company",
    new{
         id = Session["CompanyId"]
       },
    null)
</div>

@section
  Scripts
{
  @Scripts.Render("~/bundles/jqueryval")
}