﻿@using OpEnMs.EETS.ViewModels
@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.UserProfile.UserProfileListViewModel



<link rel="stylesheet" href="/Content/themes/base/jquery.ui.tablesorter.css" />
<script src="/Scripts/jquery.tablesorter.min.js"> </script>
<script type="text/javascript" id="js">
  $(document).ready(function() {
    $("#userProfileList").tablesorter({
      headers: {
        5: {
          sorter: false
        },
      }
    });
  });

</script>

@if (Model.UserProfiles != null && Model.Count != 0)
{
  <table id="userProfileList" class="tablesorter">
    <thead>
      <tr> 
        <th>
          @Html.DisplayNameFor(model => model.UserProfiles.FirstOrDefault().
            UserName)
        </th>
        <th>
          @DisplayNameResources.Registration
        </th>
        <th>
          @DisplayNameResources.Roles
        </th>
        <th>@Html.DisplayNameFor(model => model.UserProfiles.FirstOrDefault().
              Company)</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model.UserProfiles)
      {
        <tr>
          <td>
            @Html.DisplayFor(modelItem => item.UserName)
          </td>
          <td>
            @if (WebSecurity.IsConfirmed(item.UserName))
            {
              @DisplayNameResources.Confirmed
            }
            else
            {
              @DisplayNameResources.NotConfirmed
            }
          </td>
          <td>
            @ViewModelHelper.ConvertStringArrayToString(Roles.GetRolesForUser(item.UserName))
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Company) 
          </td>
           
           
          <td>
            @Html.ActionLink(Resources.Edit,
              "Edit",
              "Account",
              new{
                   id = item.Model.UserId
                 },
              null) 

          </td>
        </tr>
      }
        
    </tbody>

  </table>
}