﻿@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.UserProfile.UserProfileEditViewModel

@{
  ViewBag.Title = Resources.Edit;
}

<h2>@Resources.Edit</h2>

@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
  @Html.ValidationSummary()
  @Html.HiddenFor(model => model.Model.UserId)

  <fieldset>
    <legend>@DisplayNameResources.UserProfile</legend>

    <div class="editor-label">
      @Html.LabelFor(model => model.Model.UserName)
    </div>
    <div class="editor-field">
      @Html.EditorFor(model => model.Model.UserName)
      @Html.ValidationMessageFor(model => model.Model.UserName)
    </div>
        
    <div class="editor-label">
      @Html.LabelFor(model => model.Model.GivenName)
    </div>
    <div class="editor-field">
      @Html.EditorFor(model => model.Model.GivenName)
      @Html.ValidationMessageFor(model => model.Model.GivenName)
    </div>

    <div class="editor-label">
      @Html.LabelFor(model => model.Model.SurName)
    </div>
    <div class="editor-field">
      @Html.EditorFor(model => model.Model.SurName)
      @Html.ValidationMessageFor(model => model.Model.SurName)
    </div>

    <div class="editor-label">
      @Html.LabelFor(model => model.Model.Phone)
    </div>
    <div class="editor-field">
      @Html.EditorFor(model => model.Model.Phone)
      @Html.ValidationMessageFor(model => model.Model.Phone)
    </div>

    <div class="editor-label">
      @Html.LabelFor(model => model.Model.Email)
    </div>
    <div class="editor-field">
      @Html.EditorFor(model => model.Model.Email)
      @Html.ValidationMessageFor(model => model.Model.Email)
    </div>
        
        
    @* <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div
            ><div class="editor-label">
                 @Html.LabelFor(model => model.ConfirmPassword)
             </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>*@
    @*  <div class="editor-label">
            @Html.LabelFor(model => model.CompanyId)
        </div>
        <div class="editor-field">
            @Html.DropDownList("CompanyId",
                               Model.Companies)
        </div>*@
        
    <div class="editor-field">
      @Html.DropDownListFor(model => model.CompanyId,
        Model.Companies)
    </div> 
    
    <div class="editor-field">
      @Html.DropDownListFor(model => model.Role,
        Model.Roles)
    </div> 
       
    <p>
      <input type="submit" value=@Resources.Save />
    </p>
  </fieldset>
}

<div>
  @Html.ActionLink(Resources.BackToList,
    "Index")
</div>

@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}