﻿@model OpEnMs.Domain.Entities.Login

@{
    ViewBag.Title = "Anmelden";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<section id="loginForm">
    <h2>Lokales Konto für die Anmeldung verwenden.</h2>
    @using (Html.BeginForm(new{
                                  ViewBag.ReturnUrl
                              }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Anmeldeformular</legend>
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                    @Html.ValidationMessageFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </li>
                <li>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe,
                                   new{
                                          @class = "checkbox"
                                      })
                </li>
            </ol>
            <input type="submit" value="Anmelden" />
        </fieldset>
        <p>
            @Html.ActionLink("Registrieren",
                             "Register"), wenn Sie kein Konto besitzen.
        </p>
    }
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
