﻿@model OpEnMs.Domain.Entities.LocalPassword
@{
    ViewBag.Title = "Konto verwalten";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Angemeldet als <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{
    @Html.Partial("_SetPasswordPartial")
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
