﻿@using OpEnMs.Resources
@model OpEnMs.Domain.Entities.Topic


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">@Resources.CreateNewTopic</h3>
</div>

@using (Html.BeginForm("CreateTopic",
                       "Indicator",
                       FormMethod.Post,
                       new{
                              @class = "modal-form"
                          }))
{
    @Html.ValidationSummary(true)

    <div  class="modal-body">
        <div>
            @Html.LabelFor(x => x.Name)
            @Html.EditorFor(x => x.Name)
            @Html.ValidationMessageFor(x => x.Name)      
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">@Resources.Cancel</button>
        <button class="btn btn-primary" type="submit">@Resources.Save</button>
    </div>
}