﻿@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.Indicator.IndicatorViewModel

<div class="editor-label">
    @Html.Label(@DisplayNameResources.Formula)
</div>

<fieldset style="margin-top: 20px;">
    <div class="container">
        <div class="row-fluid">
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <div class="control-group accordion-toggle" data-parent="#accordion2" data-toggle="collapse" data-target="#collapse1">
                   
                            <div class="container accordion-toggle" data-parent="#accordion2" data-toggle="collapse" data-target="#collapse1">
                                <div class="row">
                                    @*<div class="span8 pull-left">*@
                                    @if (Model.Indicator.IndicatorExpression != null)
                                    {
                                        @Html.EditorFor(model => model.Indicator.IndicatorExpression,
                                                        "String",
                                                        new{
                                                               placeholder = "Keine Formel hinterlegt."
                                                           })
                                        //<input type="text" placeholder="Klicken Sie hier um eine Formel zu hinterlegen"/>
                                    }
                                    else
                                    {
                                        @Html.EditorFor(model => model.Indicator.IndicatorExpression,
                                                        "String")
                                    }  

                                    @* </div>*@
 

                                </div>
                                <div class="row">
                                    @Html.MultiLineValidationMessageFor(model => model.Indicator.IndicatorExpression)

                                </div>
                            </div>



                        </div>
                    </div>

                    <div id="collapse1" class="accordion-body collapse">
                        <div class="accordion-inner">
                            <div class="row-fluid">
                                Formeleditor
                            </div>
                            <div class="row-fluid">
                                <div class="input-append span10">
                                    @*<input id="input-formula" type="text" class="input-xlarge" placeholder=""/>*@
                                    <input class="input-block-level" id="input-formula" type="text">
                                    <button class="btn" onclick=" checkFormula() " type="button">Formel übernehmen</button>
                                </div>                    
                            </div>
                            <div class="row-fluid">
                                <div class="span1">
                                    <div class="btn-group-vertical" style="color: #fff">
                                        <button class="btn" type="button" value=" + " onclick=" addFormulaElement('+') "><img src="~/Content/images/math-plus.png" align="absmiddle"/></button>
                                        <button class="btn" type="button" value=" - " onclick=" addFormulaElement('-') "><img src="~/Content/images/math-minus.png" align="absmiddle"/></button>  
                                        <button class="btn" type="button" value=" * " onclick=" addFormulaElement('*') "><img src="~/Content/images/math-multiply.png" align="absmiddle"/></button>  
                                        <button class="btn" type="button" value=" / " onclick=" addFormulaElement('/') "><img src="~/Content/images/math-divide.png" align="absmiddle"/></button>  
                                    </div>                       
                                </div>
                                <div class="span8">@Html.Action("IndexForFormulaEditor",
                                                                "Indicator")

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</fieldset>


<script>

    function addFormulaElement(element) {
        $('#input-formula').val($('#input-formula').val() + element);
    }

    function checkFormula() {
        $.ajax({
            url: '@Url.Action("IsFormulaValid",
                              "Indicator")',
            data: { formula: $('#input-formula').val() },
            method: 'GET',
            traditional: true,
            success: function(data) {
                if (data === true) {
                    $('#Indicator_IndicatorExpression').val($('#input-formula').val());
                    //addFormulaToIndicator();
                } else {
                    alert(data);
                }
            },
            error: function(data) { alert(data); }
        });
    }

@*    function addFormulaToIndicator() {
        $.ajax({
            url: '@Url.Action("GetElementsOfFormula",
                              "Indicator")',
            data: { formula: $('#input-formula').val() },
            method: 'GET',
            traditional: true,
            success: function(data) {
                $.each(data, function(i) {
                    alert(data[i]);
                });
            }
        });
    }*@
</script>