﻿@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.Indicator.IndicatorListValuesViewModel

<link rel="stylesheet" href="/Content/themes/base/jquery.ui.tablesorter.css" />
<script type="text/javascript" id="js">
    $(document).ready(function() {
        $("#indicatorValueList").tablesorter();
    })
</script>


@if (Model.Indicator.IndicatorValues != null && Model.Indicator.IndicatorValues.Count != 0)
{
    <table id="indicatorValueList" class="tablesorter">
        <thead>
            <tr> 
                <th>
                    @Html.DisplayNameFor(model => model.Indicator.IndicatorValues.FirstOrDefault().
                                                        Timestamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Indicator.IndicatorValues.FirstOrDefault().
                                                        Value)
                </th>
                <th>@Html.DisplayNameFor(model => model.Indicator.Unit)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Indicator.IndicatorValues)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Timestamp.Year)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Indicator.Unit.Name) 
                    </td>    
                
                    @if ((User.IsInRole("IsoAdministrator") || User.IsInRole("IsoAdministrator")) && string.IsNullOrEmpty(item.Indicator.IndicatorExpression))
                    {
                        <td>
                            @Html.ActionLink(@Resources.Delete,
                                             "DeleteValue",
                                             "Indicator",
                                             new{
                                                    id = item.Id
                                                },
                                             null)
                        </td>
                    }
                   
                </tr>
            }
        </tbody>

    </table>

    <p>
        @Resources.NumberOfIndicatorValues
        @Html.DisplayFor(model => Model.Indicator.IndicatorValues.Count)
    </p>
    if (Model.Indicator.IndicatorValues.Count > 1)
    {
        <div id="energysources">
            @Html.Partial("_Chart",
                          Model.LineChart)        
        </div>
    }
}

else
{
    <p>
        @Resources.NoIndicatorValuesToShow
    </p>
}