﻿@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.Indicator.IndicatorListViewModel

<script type="text/javascript" id="js">
    $(document).ready(function() {
        $("#indicatorList").tablesorter({
            headers: {
                5: {
                    sorter: false
                },
            }
        });
    });

</script>

@if (Model.Indicators != null && Model.Indicators.Count > 0)
{
    <table id="indicatorList" class="tablesorter">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Indicators.FirstOrDefault().
                                                        Indicator.Number)
                </th> 
                <th>
                    @Html.DisplayNameFor(model => model.Indicators.FirstOrDefault().
                                                        Indicator.Topic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Indicators.FirstOrDefault().
                                                        Indicator.Name)
                </th>
                <th>@Html.DisplayNameFor(model => model.Indicators.FirstOrDefault().
                                                        Indicator.Unit)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Indicators)
            {
                <tr>
                    <td>
                        <button class="btn" type="button" onClick ="addFormulaElement('@("["+ @item.Indicator.Number +"]")')">@Html.DisplayFor(modelItem => item.Indicator.Number)</button>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Indicator.Topic.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Indicator.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Indicator.Unit.Name) 
                    </td>
                </tr>
            }
        
        </tbody>

    </table>
}
else
{
    <p>
        @Resources.NoIndicatorsToShow
    </p>
}