﻿@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.Indicator.IndicatorListViewModel

<link rel="stylesheet" href="/Content/themes/base/jquery.ui.tablesorter.css" />
<script type="text/javascript" id="js">
    $(document).ready(function() {
        $("#indicatorList").tablesorter({
            headers: {
                5: {
                    sorter: false
                },
            }
        });
    });

</script>

@if (Model.Indicators != null && Model.Indicators.Count > 0)
{
    <table id="indicatorList" class="tablesorter">
        <thead>
            <tr> 
                <th>
                    @Html.DisplayNameFor(model => model.Indicators.FirstOrDefault().
                                                        Indicator.Topic)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Indicators.FirstOrDefault().
                                                        Indicator.Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Indicators.FirstOrDefault().
                                                        Indicator.Name)
                </th>
                <th>@Html.DisplayNameFor(model => model.Indicators.FirstOrDefault().
                                                        Indicator.Unit)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Indicators)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Indicator.Topic.Name)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Indicator.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Indicator.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Indicator.Unit.Name) 
                    </td>
           
                    <td>
                        @Html.ActionLink(Resources.Edit,
                                         "Edit",
                                         new{
                                                id = item.Indicator.Id
                                            }) |
                        @Html.ActionLink(Resources.Details,
                                         "Details",
                                         new{
                                                id = item.Indicator.Id
                                            })|
                        @if (item.Indicator.IndicatorExpression == null)
                        {
                             @Html.ActionLink(Resources.AddValue,
                                             "AddValue",
                                             new{
                                                    id = item.Indicator.Id
                                                })
                        } 
                        @if (item.Indicator.IndicatorValues != null && item.Indicator.IndicatorValues.Count > 0)
                        {
                            @Html.ActionLink(Resources.ListValues,
                                             "ListValues",
                                             new{
                                                    id = item.Indicator.Id
                                                })
                        } 
                        @if (User.IsInRole("Administrator") || User.IsInRole("IsoAdministrator"))
                        {
                            @Html.ActionLink(@Resources.Delete,
                                             "Delete",
                                             "Indicator",
                                             new{
                                                    id = item.Indicator.Id
                                                },
                                             null)
                        }
                    </td>
                </tr>
            }
        
        </tbody>

    </table>
    <p>
        @Resources.NumberOfIndicators
        @Html.DisplayFor(model => Model.Indicators.Count)
    </p>
}
else
{
    <p>
        @Resources.NoIndicatorsToShow
    </p>
}