﻿@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.Indicator.IndicatorAddValueViewModel

@{
    ViewBag.Title = @Resources.AddValue;
}

<h2>@Resources.AddValue</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        @Html.HiddenFor(model => model.IndicatorId)
        @Html.HiddenFor(model => model.IndicatorName)
        @Html.HiddenFor(model => model.IndicatorUnitName)
        <div class="editor-label">
            @Html.DisplayFor(model => model.IndicatorName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IndicatorValue.Value) @Html.DisplayFor(model => model.IndicatorUnitName)
            @Html.ValidationMessageFor(model => model.IndicatorValue.Value)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IndicatorValue.Timestamp)
        </div>
        <div class="editor-field">          
            @Html.DropDownListFor(model => model.Year,
                                  Enumerable.Range(DateTime.Now.Year - 30,
                                                   30).
                                             Select(i => new SelectListItem{
                                                                               Value = i.ToString(),
                                                                               Text = i.ToString()
                                                                           }).Reverse(),
                                  "-- Jahr --")
        @Html.ValidationMessageFor(model => model.Year)
        </div>

        <p>
            <input type="submit" value="@Resources.Save" />
        </p>
    </fieldset>
}