﻿@using OpEnMs.Resources
@model OpEnMs.Domain.Entities.IndicatorValue

@{
    ViewBag.Title = "Delete";
}

<h2>@Resources.Delete</h2>

<h3>@Resources.DeleteQuestion</h3>
<fieldset>
    <legend>Wert zu: @Html.DisplayFor(model => model.Indicator.Name)</legend>
    <div class="editor-label">
        @Html.DisplayFor(model => model.Indicator.Name)
    </div>
    <div class="editor-field">
        @Html.DisplayFor(model => model.Value)
    </div>

    <div class="editor-label">
        @Html.DisplayNameFor(model => model.Timestamp)
    </div>
    
    <div class="editor-label">
        @Html.DisplayFor(model => model.Timestamp)
    </div>
    
    <div class="display-label">
        @Html.DisplayNameFor(model => model.LastEdited)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastEdited)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value=@Resources.Delete /> |
        @Html.ActionLink("Zurück",
                         "ListValues",
                         "Indicator",
                         new{
                                id = Model.Indicator.Id
                            },
                         null)
    </p>
}