﻿@using OpEnMs.Resources
@model OpEnMs.Domain.Entities.Indicator

@{
    ViewBag.Title = Resources.Delete;
}

<h2>@Resources.Delete</h2>

<h3>@Resources.DeleteQuestion</h3>
<fieldset>
    <legend>Indicator</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Number)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Explanation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Explanation)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Created)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Created)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.LastEdit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastEdit)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="@Resources.Delete" /> |
        @Html.ActionLink(Resources.BackToList,
                         "Index")
    </p>
}
