﻿@using OpEnMs.Resources
@model OpEnMs.Domain.Entities.Indicator

@{
    ViewBag.Title = Resources.Details;
}

<h2>@Resources.Details</h2>

<fieldset>
    <legend>Indicator</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Number)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Number)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Explanation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Explanation)
    </div>
    
    <div class="display-label">
        @Html.DisplayNameFor(model => model.IndicatorExpression)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IndicatorExpression)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Created)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Created)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.CreatedBy.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedBy.UserName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.LastEdit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastEdit)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.LastEditBy.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastEditBy.UserName)
    </div>
</fieldset>
<p>
    @Html.ActionLink(Resources.Edit,
                     "Edit",
                     new{
                            id = Model.Id
                        }) |
    @Html.ActionLink(Resources.BackToList,
                     "Index")
</p>