﻿@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.Indicator.IndicatorViewModel

@{
    ViewBag.Title = Resources.Edit;
}

<h2>@Resources.Edit</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Indicator</legend>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Indicator.Topic)
        </div>

        @Html.HiddenFor(model => model.Indicator.Id)
        <table>
            <tr style="background: #fff !important">
                <td>
                    <div id="topicList">
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.Indicator.TopicId,
                                                  Model.Topics,
                                                  new{
                                                         id = "TopicDropDown"
                                                     }) 
                            @Html.ValidationMessageFor(model => model.Indicator.Topic)            

                        </div>
                    </div>
                 
                </td>
                <td>
                    <div>
                        @Html.ActionLink(@Resources.AddNew,
                                         "CreateTopic",
                                         "Indicator",
                                         null,
                                         new{
                                                id = "btnCreateTopic",
                                                @class = "btn btn-small"
                                            })</div>
                    <div id='dialogDiv' class='modal hide fade in'>
                        <div id='dialogContent'></div>
                    </div>
                </td>
            </tr>
        </table>

        <div class="editor-label">
            @Html.LabelFor(model => model.Indicator.Number)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Indicator.Number)
            @Html.ValidationMessageFor(model => model.Indicator.Number)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Indicator.Unit)
        </div>

        <table>
            <tr style="background: #fff !important">
                <td>
                    <div class="editor-field">
                        @Html.DropDownList("Indicator.UnitId",
                                           Model.Units,
                                           new{
                                                  id = "UnitDropDown"
                                              })   
                        @Html.ValidationMessageFor(model => model.Indicator.UnitId)            
                    </div>
                </td>
                <td>
                    <div>
                        @Html.ActionLink(@Resources.AddNew,
                                         "CreateUnit",
                                         "Indicator",
                                         null,
                                         new{
                                                id = "btnCreateUnit",
                                                @class = "btn btn-small"
                                            })</div>
                </td>
            </tr>
        </table>

        <div class="editor-label">
            @Html.LabelFor(model => model.Indicator.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Indicator.Name)
            @Html.ValidationMessageFor(model => model.Indicator.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Indicator.Explanation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Indicator.Explanation)
            @Html.ValidationMessageFor(model => model.Indicator.Explanation)
        </div>   
        @Html.Partial("_FormulaBuilder",
                      Model)
        
        <p>
            <input type="submit" value="@Resources.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Resources.BackToList,
                     "Index")
</div>
    
<script type="text/javascript">
    $(function() {

        //Optional: turn the chache off
        $.ajaxSetup({ cache: false });

        $('#btnCreateTopic').click(function() {
            $('#dialogContent').load(this.href, function() {
                $('#dialogDiv').modal({
                    backdrop: 'static',
                    keyboard: true
                }, 'show');
                bindFormTopic(this);
            });
            return false;
        });
    });

    $('#btnCreateUnit').click(function() {
        $('#dialogContent').load(this.href, function() {
            $('#dialogDiv').appendTo("body").modal({
                backdrop: 'static',
                keyboard: true
            }, 'show');
            bindFormUnit(this);
        });
        return false;
    });

    function bindFormTopic(dialog) {
        $('form', dialog).submit(function() {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function(result) {
                    if (result.success) {
                        var link = "@Url.Action("GetTopics",
                                                "Indicator",
                                                new{
                                                       id = "-1"
                                                   })";
                        link = link.replace("-1", result.newTopicId);
                        $('#dialogDiv').modal('hide');
                        $.getJSON(
                            link, {},
                            function(topics) {
                                var topicDropDownList = $('#TopicDropDown');
                                topicDropDownList.empty();
                                $.each(topics, function(index, topic) {
                                    var option = new Option(topic.Text, topic.Value);
                                    option.selected = topic.Selected;
                                    topicDropDownList.append(option);
                                });
                            });
                    } else {
                        $('#dialogContent').html(result);
                        bindForm();
                    }
                }
            });
            return false;
        });
    }

    function bindFormUnit(dialog) {
        $('form', dialog).submit(function() {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function(result) {
                    if (result.success) {
                        var link = "@Url.Action("GetUnits",
                                                "Indicator",
                                                new{
                                                       id = "-1"
                                                   })";
                        link = link.replace("-1", result.newId);
                        $('#dialogDiv').modal('hide');
                        $.getJSON(
                            link, {},
                            function(units) {
                                var unitDropDownList = $('#UnitDropDown');
                                unitDropDownList.empty();
                                $.each(units, function(index, unit) {
                                    var option = new Option(unit.Text, unit.Value);
                                    option.selected = unit.Selected;
                                    unitDropDownList.append(option);
                                });
                            });
                    } else {
                        $('#dialogContent').html(result);
                        bindFormUnit();
                    }
                }
            });
            return false;
        });
    }
</script>

<script>
    $(document).ready(function() {
        $(document)
            .tooltip({ position: { my: "left+15 center", at: "right center" } });
    });
</script>