﻿@using OpEnMs.Resources
@{
    ViewBag.Title = Resources.AllIndicators;
}

<h2>@Resources.AllIndicators</h2>

<p>
    @Html.ActionLink(Resources.CreateNewIndicator,
                     "Create")
</p>

@Html.Partial("_ListDetailsEditDelete")

