﻿@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.Indicator.IndicatorListValuesViewModel
@{
    ViewBag.Title = @Resources.ListValues;
}

<h2>@Resources.ListValues</h2>
@Html.DisplayFor(model => model.Indicator.Name)
@Html.Partial("_ListIndicatorValuesDetailsEditDelete")
<p>
    @Html.ActionLink(Resources.BackToList,
                     "Index")
</p>