﻿@using OpEnMs.EETS.ViewModels
@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.Network.NetworkListViewModel

<link rel="stylesheet" href="/Content/themes/base/jquery.ui.tablesorter.css" />
<script src="/Scripts/jquery.tablesorter.min.js"> </script>
<script type="text/javascript" id="js">
    $(document).ready(function() {
        $("#networkList").tablesorter({
            headers: {
                8: {
                    sorter: false
                },
            }
        });
    });

</script>

@if (Model != null && Model.Count != 0)
{
    <table id="networkList" class="tablesorter">
        <thead>
            <tr> 
                <th>
                    @Html.DisplayNameFor(model => model.Networks.FirstOrDefault().
                                                        Model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Networks.FirstOrDefault().
                                                        Model.Description)
                </th>
                <th>  @Html.DisplayNameFor(model => model.Networks.FirstOrDefault().
                                                          NumberOfCompanies)</th>
                <th>
                    @Html.DisplayNameFor(model => model.Networks.FirstOrDefault().
                                                        Term)
                </th>
              
                <th>
                    @Html.DisplayNameFor(model => model.Networks.FirstOrDefault().
                                                        Model.State)
                </th>
               
                <th>@Resources.Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Networks)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumberOfCompanies)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Term)
                    </td>

                    <td>
                        @item.Model.State.GetLocalizedName()
                    </td>
           
                    <td>
                        @Html.ActionLink(Resources.Edit,
                                         "Edit",
                                         "Network",
                                         new{
                                                id = item.Model.Id
                                            },
                                         null) | 
                        
                        @Html.ActionLink(Resources.Details,
                                         "Detail",
                                         "Network",
                                         new{
                                                id = item.Model.Id
                                            },
                                         null) |
                       
                        @Html.ActionLink(Resources.Delete,
                                         "Delete",
                                         "Network",
                                         new{
                                                id = item.Model.Id
                                            },
                                         null)

                      

                    </td>
                </tr>
            }
        
        </tbody>

    </table>
}
else
{
    <p>
        NoNetworksToShow
    </p>
}