﻿

@using OpEnMs.Resources
@model OpEnMs.Domain.Entities.Network

@{
    ViewBag.Title = Resources.DeleteNetwork;
}

<h2>@Resources.DeleteNetwork</h2>

<h3>@Resources.DeleteQuestion</h3>
<fieldset>
    <legend>@Resources.Network</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="@Resources.DeleteNetwork" /> |
        @Html.ActionLink(Resources.BackToIndex,
            "Index")
    </p>
}