﻿@using OpEnMs.EETS.ViewModels
@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.Network.NetworkEditViewModel


<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"> </script>
<link rel="stylesheet" href="/Content/themes/base/jquery.ui.tablesorter.css" />
<script src="/Scripts/jquery.tablesorter.min.js"> </script>
<script>
    $(function() {
        $("#accordion").accordion();
    });

</script>

<script>
    $(function() {
        $("#tabs").tabs();
    });
</script>
<script type="text/javascript" id="js">
    $(document).ready(function() {
        $("#companyList").tablesorter({
            headers: {
                5: {
                    sorter: false
                },
            }
        });
    });
</script>
@{
    ViewBag.Title = Resources.EditNetwork;
}

<h2>@Resources.EditNetwork</h2>





@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div id="tabs">
            
            <ul>
                <li><a href="#tabs-1">@Resources.GeneralData</a></li>
                <li><a href="#tabs-2">@Resources.Companies</a></li>
            </ul>

            <div id="tabs-1">
                <legend>Network</legend>
                
                @Html.HiddenFor(model => model.Model.Id)

                <div class="editor-label">
                    @Html.LabelFor(model => model.Model.Name)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Model.Name)
                    @Html.ValidationMessageFor(model => model.Model.Name)
                </div>
        
                <div class="editor-label">
                    @Html.LabelFor(model => model.Model.StartDate)
                </div>

                <div class="editor-field">
                    @Html.EditorFor(model => model.Model.StartDate)
                   
                </div>
        
                <div class="editor-label">
                    @Html.LabelFor(model => model.Model.EndDate)
                </div>

                <div class="editor-field">
                    @Html.EditorFor(model => model.Model.EndDate)
                    
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Model.Description)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Model.Description)
                    @Html.ValidationMessageFor(model => model.Model.Description)
                </div> 
                <div class ="editor-label">
                    @Html.LabelFor(model => model.Model.State)
                </div>    
                <div class="dropdown">
                    @Html.DropDownListFor(model => model.Model.State,
                                          Model.Model.State.ToSelectList())                       
                </div>
            </div>
           
            <div id="tabs-2">
                <table id="companyList" class="tablesorter">
                    <thead>
                        <tr> 
                            <th>@Html.DisplayNameFor(model => model.CompanyCheckBoxViewModels.FirstOrDefault().
                                                                    Name)</th>
                            <th>@Html.DisplayNameFor(model => model.CompanyCheckBoxViewModels.FirstOrDefault().
                                                                    IsChecked)</th>
             
                        </tr>
                    </thead>
                    <tbody>
                        @Html.EditorFor(model => model.CompanyCheckBoxViewModels)
                    </tbody>
                </table>  
            </div> 
        </div>
        <p>
            <input type="submit" value="@Resources.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Resources.Back,
                     "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}