﻿
@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.Network.NetworkListViewModel

@{
    ViewBag.Title = Resources.AllNetworks;
}
<h2>@Resources.AllNetworks</h2>

<p>
    @Html.ActionLink(Resources.CreateNewNetwork,
                     "Create")
</p>

@Html.Partial("_List")