﻿@using OpEnMs.EETS.ViewModels
@model OpEnMs.EETS.ViewModels.Network.NetworkOverviewViewModel

<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"> </script>
<script>
    $(function () {
        $("#accordion").accordion();
    });
</script>




<div id="accordion">
    @foreach (var item in Model.Networks)
    {
        <h3>@item.Model.Name - @item.Model.State.GetLocalizedName()</h3>
        <div>
            @Html.Partial("OverviewElement",
                          item)
        </div>
    }
</div>