﻿@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.Network.NetworkOverviewElementViewModel

<link rel="stylesheet" href="/Content/themes/base/jquery.ui.tablesorter.css" />
<script src="/Scripts/jquery.tablesorter.min.js"> </script>
<script type="text/javascript" id="js">
    $(document).ready(function() {
        $("#@Model.Model.Name").tablesorter({
            headers: {
                8: {
                    sorter: false
                },
            }
        });
    });

</script>

@if (Model != null && Model.Count != 0)
{
    <table id="@Model.Model.Name" class="tablesorter">
        <thead>
            <tr> 
                <th>
                    @Html.DisplayNameFor(model => model.Companies.FirstOrDefault().
                                                        Model.Name)
                </th>
                
                 <th>
                    @Html.DisplayNameFor(model => model.Companies.FirstOrDefault().
                                                        Model.EnergyConsumptions)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Companies.FirstOrDefault().
                                                        Model.Measures)
                </th>
                <th>  @Html.DisplayNameFor(model => model.Companies.FirstOrDefault().
                                                          Model.MeasuringPoints)</th>
               
                <th>@Resources.Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Companies)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model.EnergyConsumptions.Count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model.Measures.Count)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model.MeasuringPoints.Count)
                    </td>
                    
           
                    <td>
                        @Html.ActionLink(Resources.Edit,
                                         "Edit",
                                         "Network",
                                         new{
                                                id = item.Model.Id
                                            },
                                         null) |
                       
                        @Html.ActionLink(Resources.Delete,
                                         "Delete",
                                         "Network",
                                         new{
                                                id = item.Model.Id
                                            },
                                         null)

                      

                    </td>
                </tr>
            }
        
        </tbody>

    </table>
}
else
{
    <p>
        NoNetworksToShow
    </p>
}