﻿@model OpEnMs.EETS.ViewModels.IsoMeasure.IsoMeasureDetailsViewModel

<script type="text/javascript" id="js">
    $(document).ready(function() {
        $("#ideaList").tablesorter();
    });

</script>

@if (Model.Ideas != null && Model.Ideas.Count != 0)
{
    <table id="ideaList" class="tablesorter">
        <thead>
            <tr> 
                <th>
                    @Html.DisplayNameFor(model => model.Ideas.Ideas.FirstOrDefault().Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ideas.Ideas.FirstOrDefault().
                                                        Employee)
                </th>
            </tr>
        </thead>
        <tbody>
             @foreach (var item in Model.Ideas.Ideas)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Name,
                                         "Details",
                                         "Idea",
                                         new
                                             {
                                                 id = item.Model.Id
                                             },
                                         null)
                    </td>                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Employee) 
                    </td>
                </tr>
             }        
        </tbody>
    </table>
}