﻿@using OpEnMs.EETS.ViewModels
@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.IsoMeasure.IsoMeasureCreateViewModel


<script>
    $(function() {
        $("#tabs").tabs();
    });
</script>

<script>
    $(document).ready(function () {
        $("*")
            .tooltip({ position: { my: "left+15 center", at: "right center" } });
    });
</script>

<script>
    $(document).ready(function () {       
        $("[data-toggle='popover']")
            .popover();
    });
</script>

@{
    ViewBag.Title = Resources.CreateNewMeasure;
}

<h2>@Resources.CreateNewMeasure</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)

    @Html.HiddenFor(model => model.Model.EntryDate)

    <fieldset>
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">@Resources.GeneralData</a></li>
                <li><a href="#tabs-2">@Resources.Valuation</a></li>
            </ul>


            <div id="tabs-1">
                <legend>@Resources.Measure</legend>
                
                <div class="row">
                    <div class="span4">
                        <ul class="label-list">
                            <li><div class="editor-label">@Html.LabelFor(model => model.Model.Name)</div></li>
                            <li><span class="help-popover" onclick="deactivateTooltip(this)"><p class="info-sign"></p></span></li>
                        </ul>                
                        <br>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Model.Name)
                            @Html.ValidationMessageFor(model => model.Model.Name)                    
                        </div>
                    </div>
                    <div class="span5 hilfstext">
                        <p><span class="header">Infotext für "Name"</span><br>Geben Sie der Maßnahme einen Namen. Sollten Sie eine größere Anzahl an Maßnahmen verwalten, empfiehlt es sich ein Ordnungszeichen vor dem Namen einzufügen. Beispiel: M01-Glühbirnen austauschen</p>
                    </div>
                </div>

                <div class="row">
                    <div class="span4">
                        <ul class="label-list">
                            <li><div class="editor-label">@Html.LabelFor(model => model.Model.Description)</div></li>
                            <li><span class="help-popover" onclick="deactivateTooltip(this)"><p class="info-sign"></p></span></li>
                        </ul>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Model.Description)
                            @Html.ValidationMessageFor(model => model.Model.Description)
                        </div>
                    </div>
                    <div class="span5 hilfstext">
                        <p><span class="header">Infotext für "Beschreibung"</span><br>Beschreiben Sie hier die bestehende Siutation, welche durch eine Maßnahme verbessert werden soll. Mit einer ausführlichen Beschreibung helfen Sie ähnliche Probleme leichter zu erkennen und ebenfalls zu lösen.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="span4">
                        <ul class="label-list">
                            <li><div class="editor-label">@Html.LabelFor(model => model.Model.Solution)</div></li>
                            <li><span class="help-popover" onclick="deactivateTooltip(this)"><p class="info-sign"></p></span></li>
                        </ul>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Model.Solution)
                            @Html.ValidationMessageFor(model => model.Model.Solution)
                        </div>
                    </div>
                    <div class="span5 hilfstext">
                        <p><span class="header">Infotext für "Lösung"</span><br>Beschreiben Sie hier umfassend wie die Maßnahme durchgeführt werden soll. Dadurch verbessern sich die Chancen einer erfolgreichen Durchführung und Wiederholung der Maßnahme</p>
                    </div>
                </div>

                <div class="row">
                    <div class="span4">
                        <ul class="label-list">
                            <li><div class="editor-label">@Html.LabelFor(model => model.Model.DueDate)</div></li>
                            <li><span class="help-popover" onclick="deactivateTooltip(this)"><p class="info-sign"></p></span></li>
                        </ul>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Model.DueDate)                        
                        </div>
                    </div>
                    <div class="span5 hilfstext">
                        <p><span class="header">Infotext für "Fälligkeitsdatum"</span><br>Wählen Sie an dieser Stelle aus, bis wann die Maßnahme abgeschlossen sein sollte.</p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="span4">
                        <ul class="label-list">
                            <li><div class="editor-label">@Html.LabelFor(model => model.EmployeeInChargeString)</div></li>
                            <li><span class="help-popover" onclick="deactivateTooltip(this)"><p class="info-sign"></p></span></li>
                        </ul>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.EmployeeInChargeString,
                                new{
                                       data_autocomplete = Url.Action("Quicksearch",
                                           "Account"),
                                       title = @ToolTipResources.Measure_EmployeeInCharge
                                   })
                            @Html.ValidationMessageFor(model => model.EmployeeInChargeString)                    
                        </div>
                    </div>
                    <div class="span5 hilfstext">
                        <p><span class="header">Infotext für "Verantwortlicher Mitarbeiter"</span><br>Geben Sie hier den Namen des Mitarbeiters ein, welcher für die Durchführung der Maßnahme verantwortlich ist.</p>
                    </div>
                </div>
                
                <div class="row">
                    <div class="span 4">
                        <ul class="label-list">
                            <li><div class="editor-label">@Html.LabelFor(model => model.Model.Priority)</div></li>
                            <li><span class="help-popover" onclick="deactivateTooltip(this)"><p class="info-sign"></p></span></li>
                        </ul>
                        <div class="editor-field">
                            @Html.DropDownListFor(model => model.Model.Priority,
                                Model.Model.Priority.ToSelectList(), new
                                {
                                    title = @ToolTipResources.Measure_Priority
                                })
                        </div>
                    </div>
                    <div class="span5 hilfstext">
                        <p><span class="header">Infotext für "Prorität"</span><br>Wählen Sie hier die Priorität der Maßnahme aus. Mittels der Zuweisung einer Priorität läßt sich der Zeitpunkt der Abarbeitung einer Maßnahme steuern.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="span4">
                        <ul class="label-list">
                            <li><div class="editor-label">@Html.LabelFor(model => model.Model.Annotation)</div></li>    
                            <li><span class="help-popover" onclick="deactivateTooltip(this)"><p class="info-sign"></p></span></li>
                        </ul>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.Model.Annotation)
                            @Html.ValidationMessageFor(model => model.Model.Annotation)
                        </div>
                    </div>
                    <div class="span5 hilfstext">
                        <p><span class="header">Infotext für "Anmerkungen"</span><br>Hinterlegen Sie hier weitere Anmerkungen zur Maßnahme.</p>
                    </div>
                </div>    
            </div>


            <div id="tabs-2">
                @Html.EditorFor(model => model.Valuation)
                @Html.ValidationMessageFor(model => model.Valuation)
            </div>

        </div>
        <p>
            <input class="cancel" type="submit" value="@Resources.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(@Resources.BackToList,
        "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}