﻿@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.IsoMeasure.IsoMeasureDetailsViewModel

@{
    ViewBag.Title = @Resources.Details;
}

<script>
    $(document).ready(function () {
        $("#tabs").tabs();
    });
</script>



<h2>@Resources.Measure "@Html.DisplayFor(model => model.Model.Name)"</h2>

<fieldset>
    <div id="tabs">

        <ul>
            <li><a href="#tabs-1">@Resources.GeneralData</a></li>
            <li><a href="#tabs-2">@DisplayNameResources.Valuation</a></li>
            <li><a href="#tabs-3">@Resources.Ideas</a></li>
            @*<li><a href="#tabs-4">@Resources.StateHistory</a></li>*@
        </ul>

        <div id="tabs-1">
            <legend>@Resources.Measure</legend>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Model.Description)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Model.Description)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Model.Solution)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Model.Solution)
            </div>
    
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Model.EmployeeInCharge)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.EmployeeInChargeName) 
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Model.Creator)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.CreatorName) 
            </div>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Model.DueDate)
            </div>
            <div class="display-field">
                 @Html.DisplayFor(model => model.Model.DueDate)
            </div>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Model.Priority)
            </div>
            <div class="display-field">
                 @Html.DisplayFor(model => model.Prority)
            </div>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Model.State)
            </div>
            <div class="display-field">
                 @Html.DisplayFor(model => model.Model.State)
            </div>
   
   
        </div>
        <div id="tabs-2">
                @Html.Partial("_Valuation", Model.Valuation)      
        </div>

        <div id="tabs-3">
            @if (Model.Ideas.Count == 0) 
            { 
                @Resources.NoIdeasToShow
            }
            else
            {
            @Html.Partial("_IdeaList")
            }
        </div>

        @*<div id="tabs-4">
            <div class="display-label">
                @Resources.CurrentState 
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.CurrentState) 
            </div>
            <h4>@Resources.StateHistory</h4>
            @Html.Partial("_StateList")
        </div>*@
    </div>
</fieldset>

<br />

@if (User.IsInRole("IsoAdministrator")||User.IsInRole("Administrator")||User.IsInRole("Benutzer"))
{
    <table class="submenu">
        <thead>
            <tr>
                <th>@Resources.Actions</th>
            </tr>
        </thead>
    </table>

    <table class="submenu">
        <tbody>
            <tr>
                <td>
                    @Html.ActionLink(@Resources.Edit,
                                     "Edit",
                                     new{
                                            id = Model.Model.Id
                                        })
                </td>
             </tr>
                <tr>
                <td>
                    @Resources.ChangeState :   
                </td>

                <td>
                    @Html.ActionLink(@Resources.Enum_IdeaStateName_DuringImplementation,
                                     "ChangeState",
                                     new{
                                            id = Model.Model.Id,
                                            stateEnum = OpEnMs.Domain.Entities.MeasureState.DuringImplementation
                                        }, new AjaxOptions { HttpMethod = "POST" })
                </td>

                <td>
                    @Html.ActionLink(@Resources.Enum_IdeaStateName_Successful,
                                     "ChangeState",
                                     new{
                                            id = Model.Model.Id,
                                            stateEnum = OpEnMs.Domain.Entities.MeasureState.Accomplished
                                        })
                </td>
                <td>
                    @Html.ActionLink(@Resources.Enum_ActivityStateName_Canceled,
                                     "ChangeState",
                                     new{
                                            id = Model.Model.Id,
                                            stateEnum = OpEnMs.Domain.Entities.MeasureState.Reject
                                        })
                </td>
                </tr>
                <tr>
                    @*<td>                   
                        @Html.ActionLink(@Resources.ExportToPDF, "GeneratePDF", new { id = Model.Activity.Id}, new{ target = "_blank" })
                    </td>*@
                </tr>
                
            
        </tbody>
    </table>
}

<p>@Html.ActionLink(@Resources.BackToIndex,
                    "Index")
</p>