﻿@using OpEnMs.Resources
@model OpEnMs.Domain.Entities.Idea


<div class ="employee_info_heading">@Html.DisplayName(@DisplayNameResources.Creator)</div>

<table class="employee_info" >
    <tbody>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Creator.GivenName)
            </th>    
            <th>
                @Html.DisplayNameFor(model => model.Creator.SurName)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Creator.GivenName)
            </td>
            <td>
                @Html.DisplayFor(model => model.Creator.SurName)
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Creator.Email)
            </th>    
            <th>
                @Html.DisplayNameFor(model => model.Creator.Phone)
            </th>
        </tr>
        <tr>
            <td>
                @Html.DisplayFor(model => model.Creator.Email)
            </td>
            <td>
                @Html.DisplayFor(model => model.Creator.Phone)
            </td>
        </tr>
    </tbody>
</table>