﻿@using OpEnMs.Resources

<table class="submenu">
    <tr>
        <td>@Html.ActionLink(@Resources.CreateNewIdea,
                             "Create")</td>

        @if (User.IsInRole("EnergyTeam") || User.IsInRole("Administrator") || User.IsInRole("IsoAdministrator"))
        {
            <td> @Html.ActionLink(@Resources.AllIdeas,
                                  "Index")</td>
            <td>  @Html.ActionLink(@Resources.MyIdeas,
                                   "ListMyIdeas")</td>
            <td> @Html.ActionLink(@Resources.Search,
                                  "Search",
                                  new
                                      {
                                          query = String.Empty
                                      })  

            </td>
        }
    </tr>
</table>