﻿@using OpEnMs.EETS.ViewModels
@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.Idea.IdeaListViewModel

<link rel="stylesheet" href="/Content/themes/base/jquery.ui.tablesorter.css" />
<script src="/Scripts/jquery.tablesorter.min.js"> </script>
<script type="text/javascript" id="js">
    $(document).ready(function() {
        $("#ideaList").tablesorter({
            headers: {
                4: {
                    sorter: false
                },
            }
        });
    });
</script>

@if (Model.Ideas != null && Model.Count != 0)
{
    <table id="ideaList" class="tablesorter">
        <thead>
            <tr> 
                <th>
                    @Html.DisplayNameFor(model => model.Ideas.FirstOrDefault().
                                                        Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ideas.FirstOrDefault().
                                                        Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ideas.FirstOrDefault().
                                                        Solution)
                </th>
                <th>@Html.DisplayNameFor(model => model.Ideas.FirstOrDefault().
                                                        IdeaState)</th>
@*                <th>@Html.DisplayNameFor(model => model.Ideas.FirstOrDefault().
                                                        Employee)</th>*@
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Ideas)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Name,
                                         "Details",
                                         "Idea",
                                         new{
                                                id = item.Model.Id
                                            },
                                         null)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Solution)
                    </td>
                    <td>
                        @item.Model.IdeaState.GetLocalizedName()
                    </td>
@*                    <td>
                        @Html.DisplayFor(modelItem => item.Employee) 
                    </td>*@
                    <td>
                        @Html.ActionLink(@Resources.Edit,
                                         "Edit",
                                         "Idea",
                                         new{
                                                id = item.Model.Id
                                            },
                                         null) |

                    
                        @Html.ActionLink(@Resources.Details,
                                         "Details",
                                         "Idea",
                                         new{
                                                id = item.Model.Id
                                            },
                                         null) 
                        @if (User.IsInRole("Administrator") || User.IsInRole("IsoAdministrator"))
                        {
                            @Html.ActionLink(@Resources.Delete,
                                             "Delete",
                                             "Idea",
                                             new{
                                                    id = item.Model.Id
                                                },
                                             null)
                        }

                   
                       

                    </td>
                </tr>
            }
        
        </tbody>

    </table>
    <p>
        @Resources.NumberOfIdeas
        @Html.DisplayFor(model => Model.Count)
    </p>
}
else
{
    <p>
        @Resources.NoIdeasToShow
    </p>
}