﻿@using OpEnMs.Resources

<div>
    @using (Html.BeginForm("Search",
                           "Idea"))
    {
        @Html.TextBox("query")
        <input type="submit" value="@Resources.Search" />
    }
</div>