﻿@model OpEnMs.ViewModels.Idea.IdeaDetailsViewModel

<script type="text/javascript" id="js">
    $(document).ready(function() {
        $("#stateList").tablesorter({
            headers: {
                0: {
                    sorter: false
                },
            }
        });
    });

</script>

@if (Model.States != null && Model.States.Count() != 0)
{
    <table id="stateList" class="tablesorter">
        <thead>
            <tr> 
                <th>
                    @Html.DisplayNameFor(model => model.States.FirstOrDefault().
                                                        Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.States.FirstOrDefault().
                                                        TimeStamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.States.FirstOrDefault().
                                                        StateEnabler)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.States)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeStamp)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.StateEnabler)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}