﻿@using OpEnMs.Resources
@model OpEnMs.ViewModels.Idea.IdeaChangeStateViewModel

@{
    ViewBag.Title = @Resources.ChangeState;
}

<fieldset>
    <legend>@Resources.Activity</legend>
    <h3>@Resources.ConfirmStateChange @Html.DisplayFor(model => model.Idea.Name) !</h3>
    <table>
        <tbody>
            <tr>
                <th>@Resources.CurrentState :</th>
                <th></th>
                <th>@Resources.FutureState :</th> 
            </tr>
            
            <tr>
                <td>@Html.DisplayFor(model => model.LastState)</td>
                <td></td>
                <td>@Html.DisplayFor(model => model.futureStateNameString)</td>
            </tr>
        </tbody>
    </table>
</fieldset>

@if (ViewBag.IsValid)
{
    using (Html.BeginForm())
    {
        <p>
            <input type="submit" value="@Resources.ChangeState"/> 

        </p>
    }
}
else
{
    <p>
        @Html.ValidationMessage("IdeaStateError")
    </p>
}
@Html.ActionLink(@Resources.BackToList,
                 "Index")