﻿@using OpEnMs.Resources
@model OpEnMs.Domain.Entities.Idea

@{
    ViewBag.Title = Resources.CreateNewIdea;
}

<script>
    $(function() {
        $("#tabs").tabs();
    });
</script>
<script>
    $(document).ready(function() {
        $(document)
            .tooltip({ position: { my: "left+15 center", at: "right center" } });
    });
</script>

<script>
    $(document).ready(function () {
        $('btn').popover();
    });

</script>



<h2>@Resources.CreateNewIdea</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">@Resources.GeneralData</a></li>
                <li><a href="#tabs-2">@Resources.Valuation</a></li>
            </ul>


            <div id="tabs-1">
                <legend>@Resources.Measure</legend>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Name)
                </div>
                
                <div class="editor-field">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                    <a class="btn" data-content="aöldkjsföaj" data-toggle="popover"><i class="icon-question-sign"></i> </a>
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Description)
                </div>

                <div class="editor-field">
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Solution)
                </div>

                <div class="editor-field">
                    @Html.EditorFor(model => model.Solution)
                    @Html.ValidationMessageFor(model => model.Solution)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Annotation)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Annotation)
                    @Html.ValidationMessageFor(model => model.Annotation)
                </div>
            </div>


            <div id="tabs-2">
                @Html.EditorFor(model => model.Valuation)
                @Html.ValidationMessageFor(model => model.Valuation)
            </div>

        </div>
        <p>
            @Html.ValidationSummary(false)
        </p>
        <p>
            <input type="submit" value="@Resources.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(@Resources.BackToList,
                     "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}