﻿@using OpEnMs.Resources
@model OpEnMs.Domain.Entities.Idea

@{
    ViewBag.Title = Resources.Delete;
}

<h2>@Resources.Delete</h2>

<h3>@Resources.DeleteQuestion</h3>
<fieldset>
    <legend>@Resources.Idea</legend>
    
    @Html.AntiForgeryToken()

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Solution)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Solution)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value=@Resources.Delete /> |
        @Html.ActionLink(Resources.BackToList,
                         "Index")
    </p>
}