﻿@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.Idea.IdeaDetailsViewModel

@{
    ViewBag.Title = @Resources.Details;
}

<script>
    $(document).ready(function () {
        $("#tabs").tabs();
    });
</script>

<h2>@Html.DisplayFor(model => model.Model.Name)</h2>

<fieldset>
    <div id="tabs">
        <ul>
                <li><a href="#tabs-1">@Resources.GeneralData</a></li>
                <li><a href="#tabs-2">@DisplayNameResources.Valuation</a></li>
            </ul>
        <div id="tabs-1">
            <legend>@Resources.Idea</legend>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Model.Description)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Model.Description)
            </div>

            <div class="display-label">
                @Html.DisplayNameFor(model => model.Model.Solution)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Model.Solution)
            </div>
    
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Model.Creator)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.CreatorName) 
            </div>
        </div>

        <div id="tabs-2">
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Model.Valuation.InterestRate)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Model.Valuation.InterestRate) @Resources.InPercent
            </div>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Model.Valuation.Investment)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Model.Valuation.Investment) @Resources.InEuro
            </div>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Model.Valuation.Lifetime)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Model.Valuation.Lifetime) @Resources.InYears
            </div>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Model.Valuation.MonetarySavings)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Model.Valuation.MonetarySavings) @Resources.InEuro
            </div>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.Model.Valuation.EnergeticSavings)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Model.Valuation.EnergeticSavings) 
                @Html.DisplayFor(model => model.Model.Valuation.Unit)  
            </div>
        </div>
    </div>
</fieldset>
<br />

@if (User.IsInRole("Administrator") || User.IsInRole("IsoAdministrator"))
{
    <table class="submenu">
        <thead>
            <tr>
                <th>@Resources.Actions</th>
            </tr>
        </thead>
    </table>

    <table class="submenu">
        <tbody>
            <tr>
                <td>
                    @Html.ActionLink(@Resources.Edit, 
                        "Edit",
                        "Idea",
                        new{
                            id = Model.Model.Id
                        },
                        null)
                </td>
            </tr>
            <tr>
                @if (User.IsInRole("Administrator"))
                {

                    <td>
                        @Html.ActionLink(@Resources.ConvertToMeasure,
                            "ToMeasure",
                            "Idea",
                            new{
                                   id = Model.Model.Id
                               },
                            null)
                    </td>
                }
                @if (User.IsInRole("IsoAdministrator"))
                {

                    <td>
                        @Html.ActionLink(@Resources.ConvertToMeasure,
                            "ToIsoMeasure",
                            "Idea",
                            new{
                                   id = Model.Model.Id
                               },
                            null)
                    </td>
                }
            </tr>    
        </tbody>
    </table>
}

<p>@Html.ActionLink(@Resources.BackToList,
                    "Index")
</p>
