﻿@using OpEnMs.Domain.Entities
@using OpEnMs.EETS.ViewModels
@using OpEnMs.Resources
@model OpEnMs.Domain.Entities.Idea

@{
    ViewBag.Title = @Resources.Edit;
}

<script>
    $(document).ready(function() {
        $("#tabs").tabs();
    });
</script>

<script>
    $(document).ready(function () {
        $(document)
            .tooltip({ position: { my: "left+15 center", at: "right center" } });
    });
</script>

<h2> @Resources.Edit </h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <div id="tabs">

            <ul>
                <li><a href="#tabs-1">@Resources.GeneralData</a></li>
                <li><a href="#tabs-2">@DisplayNameResources.Valuation</a></li>
            </ul>

            <div id="tabs-1">
                <legend> @Resources.Idea </legend>

                @Html.HiddenFor(model => model.Id)

                @Html.Partial("_DisplayEmployeeDetails")

                <div class="editor-label">
                    @Html.LabelFor(model => model.Name)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Description)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Description)
                    @Html.ValidationMessageFor(model => model.Description)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Solution)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Solution)
                    @Html.ValidationMessageFor(model => model.Solution)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.IdeaState)
                </div>
                <div class="editor-field">
                    @Html.DropDownListFor(model => model.IdeaState,
                                          Model.IdeaState.ToSelectList())
                    @Html.ValidationMessageFor(model => model.IdeaState)
                </div>
            </div>
            
            <div id="tabs-2"> 
                @Html.EditorFor(model => model.Valuation)
            </div>
        </div>
        <p>
            @Html.ValidationSummary(false)
        </p>
        <p>
            <input type="submit" value= "@Resources.Save" />
        </p>
    </fieldset>
}
   

@Html.ActionLink(@Resources.BackToList,
                 "Index")
  
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}