﻿@using OpEnMs.EETS.ViewModels
@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.Idea.IdeaToIsoMeasureViewModel

@{
    ViewBag.Title = Resources.ConvertToMeasure;
}

<h2>@Resources.ConvertToMeasure</h2>

@*<h3>@Resources.ConvertToActivityQuestion_1 @Model.Idea.Name @Resources.ConvertToActivityQuestion_2</h3>*@

<h3>Bitte passen Sie die vorhandenen Eingaben an und vervollständigen die leeren Felder.</h3>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>@Resources.Idea</legend>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.Solution)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Solution)
            @Html.ValidationMessageFor(model => model.Solution)
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.DueDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DueDate)
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.Priority)
        </div>
        <div class="dropdown">
            @Html.DropDownListFor(model => model.Priority, Model.Priority.ToSelectList())
        </div>

        <div class="editor-label">
            @Html.DisplayNameFor(model => model.EmployeeInChargeString)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.EmployeeInChargeString,
                             new
                                 {
                                     data_autocomplete = Url.Action("Quicksearch",
                                                                    "Account")
                                 })
            @Html.ValidationMessageFor(model => model.EmployeeInChargeString)
        </div>
     
        <h4>@Resources.CheckEnergeticValuation</h4>   

        <div>
            @Html.EditorFor(model => model.Valuation)
            @Html.ValidationMessageFor(model => model.Valuation)
        </div>
        
        <p>
            @Html.ValidationSummary(false)
        </p>
        <p>
            <input class="cancel" type="submit" value = "@Resources.ConvertToMeasure" /> 
        </p> 
    </fieldset>
    @Html.ActionLink(Resources.BackToList,
                     "Index")
}