﻿@using OpEnMs.EETS.Controllers
@using OpEnMs.Resources
@using OpEnMs.EETS.ViewModels
@model OpEnMs.EETS.ViewModels.Company.CompanyListViewModel

<link rel="stylesheet" href="/Content/themes/base/jquery.ui.tablesorter.css" />
<script src="/Scripts/jquery.tablesorter.min.js"> </script>
<script type="text/javascript" id="js">
  $(document).ready(function() {
    $("#companyList").tablesorter({
      headers: {
        4: {
          sorter: false
        },
      }
    });
  });

</script>

@if (Model.Companies != null && Model.Count != 0)
{
  <table id="companyList" class="tablesorter">
    <thead>
      <tr>
        <th>
          @Html.DisplayNameFor(model => model.Companies.FirstOrDefault().
            Name)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Companies.FirstOrDefault().
            Street)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Companies.FirstOrDefault().
            PostalCodeAndCity)
        </th>
        <th>
          @Html.DisplayNameFor(model => model.Companies.FirstOrDefault().
            Website)
        </th>
        <th>@Resources.Actions</th>
      </tr>
    </thead>
    <tbody>
      @foreach (var item in Model.Companies)
      {
        <tr>
          <td>
            @Html.DisplayFor(modelItem => item.Name)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Street)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.PostalCodeAndCity)
          </td>
          <td>
            @Html.DisplayFor(modelItem => item.Website)
          </td>
          <td>
          @*<i class="icon-edit"></i>*@
            @Html.ActionLink(Resources.Edit,
              "Edit",
              "Company",
              new{
                   id = item.Model.Id
                 },
              null) |
           @* <i class="icon-search"></i>*@
            @Html.ActionLink(Resources.Details,
              "Details",
              "Company",
              new{
                   id = item.Model.Id
                 },
              null) |
            
           @* @Html.IconActionLink("btn btn-small", "icon-trash", Resources.Delete, "Delete",
              "Company",
              new{
                   id = item.Model.Id
                 },
              null)*@
            
           
            @Html.ActionLink(Resources.Delete,
              "Delete",
              "Company",
              new{
                   id = item.Model.Id
                 },
              null)
                        
          </td>
        </tr>
      }
    </tbody>
  </table>
}
else
{
  <p>
    @Resources.NoCompaniesToShow
  </p>
}