﻿@using OpEnMs.Resources
@model OpEnMs.Domain.Entities.Company

@{
  ViewBag.Title = Resources.DeleteCompany;
}

<h2>@Resources.DeleteCompany</h2>

<h3>@Resources.DeleteQuestion</h3>
<fieldset>
  <legend>@Resources.Company</legend>

  <div class="display-label">
    @Html.DisplayNameFor(model => model.IsASME)
  </div>
  <div class="display-field">
    @Html.DisplayFor(model => model.IsASME)
  </div>

  <div class="display-label">
    @Html.DisplayNameFor(model => model.FiscalYearIsCalendarYear)
  </div>
  <div class="display-field">
    @Html.DisplayFor(model => model.FiscalYearIsCalendarYear)
  </div>

  <div class="display-label">
    @Html.DisplayNameFor(model => model.Name)
  </div>
  <div class="display-field">
    @Html.DisplayFor(model => model.Name)
  </div>

  <div class="display-label">
    @Html.DisplayNameFor(model => model.Street)
  </div>
  <div class="display-field">
    @Html.DisplayFor(model => model.Street)
  </div>

  <div class="display-label">
    @Html.DisplayNameFor(model => model.City)
  </div>
  <div class="display-field">
    @Html.DisplayFor(model => model.City)
  </div>

  <div class="display-label">
    @Html.DisplayNameFor(model => model.PostalCode)
  </div>
  <div class="display-field">
    @Html.DisplayFor(model => model.PostalCode)
  </div>

  <div class="display-label">
    @Html.DisplayNameFor(model => model.Website)
  </div>
  <div class="display-field">
    @Html.DisplayFor(model => model.Website)
  </div>

  <div class="display-label">
    @Html.DisplayNameFor(model => model.NumberOfEmployees)
  </div>
  <div class="display-field">
    @Html.DisplayFor(model => model.NumberOfEmployees)
  </div>

  <div class="display-label">
    @Html.DisplayNameFor(model => model.TotalRevenue)
  </div>
  <div class="display-field">
    @Html.DisplayFor(model => model.TotalRevenue)
  </div>

  <div class="display-label">
    @Html.DisplayNameFor(model => model.TotalEnergyCosts)
  </div>
  <div class="display-field">
    @Html.DisplayFor(model => model.TotalEnergyCosts)
  </div>

  <div class="display-label">
    @Html.DisplayNameFor(model => model.EnergyTaxRefunds)
  </div>
  <div class="display-field">
    @Html.DisplayFor(model => model.EnergyTaxRefunds)
  </div>
</fieldset>
@using (Html.BeginForm())
{
  @Html.AntiForgeryToken()
  <p>
    <input type="submit" value="@Resources.DeleteCompany" /> |
    @Html.ActionLink(Resources.BackToIndex,
      "Index")
  </p>
}