﻿@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.Company.CompanyDetailsViewModel

<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"> </script>
<link rel="stylesheet" href="/Content/themes/base/jquery.ui.tablesorter.css" />
<script src="/Scripts/jquery.tablesorter.min.js"> </script>


<script>
    $(function() {
        $("#tabs").tabs();
    });
</script>



@{
    ViewBag.Title = Resources.Details;
}

<h2>@Resources.Details</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <fieldset>
        
        <div id="tabs">
            
            <ul>
                <li><a href="#tabs-1">Spaltendiagramm</a></li>
                <li><a href="#tabs-2">Kuchendiagramm</a></li>
                <li><a href="#tabs-3">Liniediagramm</a></li>

            </ul>
        
            <div id="tabs-1">
                @Html.Partial("_Chart",
                              Model.ColumnChart)
            </div>
           
            <div id="tabs-2">
                @Html.Partial("_Chart",
                              Model.PieChart)

            </div> 
            
            <div id="tabs-3">
                @Html.Partial("_Chart",
                              Model.Linechart)

            </div> 
            
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink(Resources.Back,
                     "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}