﻿@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.Company.CompanyEditViewModel

<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"> </script>
<link rel="stylesheet" href="/Content/themes/base/jquery.ui.tablesorter.css" />
<script src="/Scripts/jquery.tablesorter.min.js"> </script>

<script>
    $(function() {
        $("#tabs").tabs();
    });
</script>



@{
    ViewBag.Title = Resources.EditCompany;
}

<h2>@Resources.EditCompany</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <fieldset>
        
        <div id="tabs">
            
            <ul>
                <li><a href="#tabs-1">@Resources.GeneralData</a></li>
                <li><a href="#tabs-2">@Resources.Measures</a></li>
                <li><a href="#tabs-3">@Resources.MeasuringPoints</a></li>
                <li><a href="#tabs-4">@Resources.EnergyConsumptions</a></li>
            </ul>
        
            <div id="tabs-1">
                <legend>Company</legend>

                @Html.HiddenFor(model => model.Model.Id)

                <div class="editor-label">
                    @Html.LabelFor(model => model.Model.IsASME)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Model.IsASME)
                    @Html.ValidationMessageFor(model => model.Model.IsASME)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Model.FiscalYearIsCalendarYear)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Model.FiscalYearIsCalendarYear)
                    @Html.ValidationMessageFor(model => model.Model.FiscalYearIsCalendarYear)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Model.Name)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Model.Name)
                    @Html.ValidationMessageFor(model => model.Model.Name)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Model.Street)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Model.Street)
                    @Html.ValidationMessageFor(model => model.Model.Street)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Model.City)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Model.City)
                    @Html.ValidationMessageFor(model => model.Model.City)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Model.PostalCode)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Model.PostalCode)
                    @Html.ValidationMessageFor(model => model.Model.PostalCode)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Model.Website)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Model.Website)
                    @Html.ValidationMessageFor(model => model.Model.Website)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Model.NumberOfEmployees)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Model.NumberOfEmployees)
                    @Html.ValidationMessageFor(model => model.Model.NumberOfEmployees)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Model.TotalRevenue)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Model.TotalRevenue)
                    @Html.ValidationMessageFor(model => model.Model.TotalRevenue)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Model.TotalEnergyCosts)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Model.TotalEnergyCosts)
                    @Html.ValidationMessageFor(model => model.Model.TotalEnergyCosts)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Model.EnergyTaxRefunds)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Model.EnergyTaxRefunds)
                    @Html.ValidationMessageFor(model => model.Model.EnergyTaxRefunds)
                </div>
            </div>
           
            <div id="tabs-2">
                @Html.EditorFor(model => model.MeasureListViewModel)
            </div> 
            <div id="tabs-3">
                @Html.EditorFor(model => model.MeasuringPointListViewModel)
            </div> 
             <div id="tabs-4">
                @Html.EditorFor(model => model.EnergyConsumptionListViewModel)
            </div> 
        </div>
        <p>
            <input type="submit" value="@Resources.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Resources.Back,
                     "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}