﻿@using OpEnMs.Resources
@model OpEnMs.EETS.ViewModels.Company.CompanyListViewModel

@{
  ViewBag.Title = Resources.AllCompanies;
}


<h2>@Resources.Company</h2>

<p>
  @*<i class="icon-edit"></i>*@
  @Html.ActionLink(Resources.CreateNewCompany,
    "Create",
    "Company")
</p>

@Html.Partial("_List")