﻿@using OpEnMs.Resources
@model OpEnMs.Domain.Entities.Company

@{
    ViewBag.Title = Resources.EditCompany;
}

<h2>@Resources.EditCompany</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Company</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.IsASME)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsASME)
            @Html.ValidationMessageFor(model => model.IsASME)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FiscalYearIsCalendarYear)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FiscalYearIsCalendarYear)
            @Html.ValidationMessageFor(model => model.FiscalYearIsCalendarYear)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Street)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Street)
            @Html.ValidationMessageFor(model => model.Street)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PostalCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PostalCode)
            @Html.ValidationMessageFor(model => model.PostalCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Website)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Website)
            @Html.ValidationMessageFor(model => model.Website)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NumberOfEmployees)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NumberOfEmployees)
            @Html.ValidationMessageFor(model => model.NumberOfEmployees)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TotalRevenue)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TotalRevenue)
            @Html.ValidationMessageFor(model => model.TotalRevenue)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TotalEnergyCosts)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TotalEnergyCosts)
            @Html.ValidationMessageFor(model => model.TotalEnergyCosts)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EnergyTaxRefunds)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EnergyTaxRefunds)
            @Html.ValidationMessageFor(model => model.EnergyTaxRefunds)
        </div>

        <p>
            <input type="submit" value="@Resources.Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink(Resources.Back,
                     "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
